[2017-01-05 11:11] ankitPagalGuy opened #9 "Having problem in building this project"
I am trying to build but I am facing this problem

Error:Unknown host 'artifactory.em.nytimes.com: unknown error'. You may need to adjust the proxy settings in Gradle.
<a href="toggle.offline.mode">Enable Gradle 'offline mode' and sync project</a><br><a href="https://docs.gradle.org/current/userguide/userguide_single.html#sec:accessing_the_web_via_a_proxy">Learn about configuring HTTP proxies in G

[2017-01-05 12:02] digitalbuddha commented on #9
Oops we still had our internal artifactory in top level maven. Want to open a pr removing artifactory.em.nytimes.com here? https://github.com/NYTimes/Store/blob/40ebbcc62f3986d055bb7bfd2648b8473ad4b846/build.gradle#L10

Alternatively give me few hours and I'll get it in when I'm at work.

[2017-01-05 12:29] ankitPagalGuy commented on #9
I guess this also needs to be removed,  https://github.com/NYTimes/Store/blob/master/build.gradle#L31 , do correct if I am wrong

[2017-01-05 12:31] digitalbuddha commented on #9
Yup! Congrats you are first to try to build project outside of our building
☺️👍

On Jan 5, 2017 7:30 AM, "Ankit" <notifications@github.com> wrote:

[2017-01-05 12:38] ankitPagalGuy commented on #9
Couldn't find develop branch , so created pr in master,  https://github.com/NYTimes/Store/pulls

[2017-01-05 12:42] ankitPagalGuy commented on #9
sorry , my mistake

[2017-01-05 12:44] digitalbuddha commented on #9
no worries, really our mistake.  You found repo a little early, its nice the code is stable but we still need to do a little cleanup on the repo :-) thank you much for trying it out.

[2017-01-05 12:44] #9 closed

[2017-01-05 16:52] PaulWoitaschek opened #18 "RxJava 2"
It would be great to have support for RxJava 2.

[2017-01-05 16:56] digitalbuddha commented on #18
Currently there are few libraries that work with RxJava2.  Most of the popular ones are still on 1.  Once there is more community adoption we will make the changes here as well. For the time being you can use an interop library https://github.com/akarnokd/RxJava2Interop .

[2017-01-05 17:59] #18 closed

[2017-01-05 20:22] PaulWoitaschek opened #22 "Feature Request: Use Single<T> where appropriate"
I'm not sure but it seems to me that for certain operations there are more appropriate reactive base types that would make the API more fluently.

One candidate:
`Store.get(barcode : Barcode) : Observable<T>`
here a `Single<T>` would clearly indicate that its always just a single item that is being emitted.

[2017-01-05 20:30] digitalbuddha commented on #22
We went back and forth with this.
Pro: more clear that only 1 emission
Con: Not all operators are implemented which limits how you can combine multiple stores into a single observable or dealing with long stacktraces when going `toObservable` and back a few times.

We're not against it but to be honest I don't see much value in Observable over Single.  Maybe as part of the 2.x addition this can be

[2017-01-05 20:47] PaulWoitaschek commented on #22
RxJava 2 has more operators available and is better composable so that sounds like a good idea.

Also it would better match to the RxJava 2 API as its operators directly indicate the outcome too.
All its operators that return a single value return a Single, for example `.toList`.

[2017-01-05 21:01] PaulWoitaschek opened #23 "Change Request: Consider migrating Barcode to a Barcode<T>"
I find the BarCode class very limiting, because:

* A String,String key value type rarely matches my key type
* Its not type safe. If you just have a single int as a key you need to remember to set it as the string value of the key and follow that convention. When you need for example an int, the `Integer.parseInt()` makes it even more dangerous

I suggest to replace the BarCode class completely w

[2017-01-05 21:18] digitalbuddha commented on #23
Thanks for the suggestion. We actually started down that route and backed off from it.  For one thing the ParsingStoreBuilder used to need 3 generics `<Raw,Parsed,Barcode>`.  Additionally all the user implemented pieces need to carry an additional generic for the barcode.  The thing is that this still doesn't do any type of auto mapping (for example, if your barcode was RequestPOJO, you still need

[2017-01-06 03:08] ankitPagalGuy commented on #9
let me know if I can contribute more , any todo list will help

[2017-01-06 03:16] digitalbuddha commented on #9
Thank you I'll add some help wanted issues tomorrow.

[2017-01-06 15:34] sboishtyan opened #26 "Saving via Store"
Hello, now i can get, fetch or stream data. How need saving or updating my data if i using your Store for retrieve it?

[2017-01-06 16:05] DJafari opened #27 "paginate data"
thanks for your great library

can you update example to paginate data ?

[2017-01-06 16:32] digitalbuddha commented on #26
Personally I suggest using immutable data models and never mutating them. If you need to get new values into the Store use store.fresh(barcode) which will overwrite the old data with a new entry. Could you give more specific example of what you want to do?

[2017-01-06 16:34] digitalbuddha commented on #27
Not sure exactly what you mean? If your request needs a page parameter you can send that through in a barcode. Mind giving me more detail? Rxjava in general can be used to combine multiple store calls into a single stream if that is what you want.

[2017-01-06 18:47] sboishtyan commented on #26
What is a method `store.fresh(barcode)`? I don't find it an Store interface API.
I have payment items list with some actions on my payment, and i can pass through to payment details and change it, then i go back and want to see updated payment in list. And with my own repository implementation i have method repositoty.update(payment), and i don't need to update all list.

[2017-01-06 21:15] digitalbuddha commented on #26
apologies I meant fetch https://github.com/NYTimes/Store/blob/develop/store/src/main/java/com/nytimes/android/external/store/base/Store.java#L29

Apologies but your use case is not how  library is intended to be used.  The only thing that can update your data is a new request.  This is to keep unidirectional data flow.

[2017-01-06 21:15] #26 closed

[2017-01-06 23:23] DJafari commented on #27
for exampe a listview with endless adapter,
each page of datas must get from remote and save in memory and cache and add to adapter
with multiple barcode i can achieve to this ?

thanks

[2017-01-07 21:55] digitalbuddha opened #30 "Create Factory For SourcePersister & Middleware"
It would be useful to have factories rather than calling the implementations directly for:
`SourcePersister`
`GsonReaderParse`
`GsonSourceParse`
`GsonStringParser`

[2017-01-08 17:20] jaychang0917 opened #34 "Example about cache first then network"
Thanks for creating a great library.

I have a use case that show cache data first and then get data from network in order to show latest data. May I ask how to implement this requirement using Store?

Thanks.

[2017-01-08 17:31] digitalbuddha commented on #34
Thanks for kind words!

Here's what you should do followed by explanation:
`Observable.concat(store.get(),store.fetch()).subscribe()`

The first `get` call will try to go to the cache and return the value, if the cache value does not exist, it will then hit the network and return fresh data.  Then when the `fetch()` call is made it will also attempt to hit the network. If however get already hit t

[2017-01-08 18:52] #34 closed

[2017-01-08 19:07] #27 closed

[2017-01-08 22:34] scottmeschke commented on #30
Opened up a PR for this.

[2017-01-08 22:40] scottmeschke opened #36 "RxJava 2 support?"
This is a pretty sweet little library, it's very similar to something I've been working on myself.
But RxJava 1 would makes me sad when inter-oping with the rest of my application code.

Any plans to update to RxJava 2?

The signifigant performance gains, Reactive Streams spec compliance, and Flowable vs Observable distinction alone makes it worth updating imo.

I would be willing to contribute or

[2017-01-08 22:42] digitalbuddha commented on #36
I was hoping to wait until some larger libraries like Retrofit make the plunge. Is it just  the public api you want to change or all rxjava1 to 2? I'm worried that current adoption of rx2 is low.  Will keep open

[2017-01-09 00:28] digitalbuddha opened #39 "Create Moshi & Jackson Middleware"
Following same structure as current Middleware it would be nice to also have 2 additional modules: middleware-jackson and Middleware-moshi.  We will add this eventually and welcome an external contribution.

[2017-01-09 02:34] digitalbuddha opened #40 "Enable Checkstyle"
Add internal rules as well.  @brianPlummer

[2017-01-09 10:09] digitalbuddha opened #41 "Add precondition checks"
This ticket is a bit open ended. Add precondition checks where necessary.

[2017-01-09 17:27] scottmeschke commented on #41
did you want to do inline, or with some kind of Preconditions class with some methods to resuse everywhere? I see the one in the cache from Guava, but if you wanted to use that everywhere you'd want to move it to the base artifiact I'm guessing.

[2017-01-09 17:31] digitalbuddha commented on #41
Guava one preferably. I'm pretty sure everything depends on Cache since
it's a dependency of Store. Internally we use Guava but to keep method
count down we don't have access here. I'm OK copying in other guava
preconditions if they are needed.

On Jan 9, 2017 12:27 PM, "Scott Meschke" <notifications@github.com> wrote:

[2017-01-10 02:04] #30 closed

[2017-01-10 09:09] riclage commented on #36
Retrofit already supports RxJava 2 via an [adapter](https://github.com/JakeWharton/retrofit2-rxjava2-adapter).

My vote goes for changing everything to Rx 2 as keeping both dependencies increase the method count quite significantly. It could also be a solution that abstracts away the Rx dependency from this library altogether (e.g., using adapters).

[2017-01-10 16:44] Jogan opened #43 "Question: Parsing From API which returns List<T>"
Thanks for open sourcing this solution!

Had question about how you typically handle an API which returns a List<T> and parsing it. I'm currently doing:

[code]

There is really nothing wrong with this and everything works as expected. Maybe grounds for an enhancement to the middleware down the road unless I'm missing something obvious?

[2017-01-10 16:55] digitalbuddha commented on #43
Are you saying default gson parsing does not work? Why do you need to pass in the type token?

[2017-01-10 17:00] digitalbuddha commented on #43
Seems like we  need another Middleware for top level jsonarray. Want to pr something in? I can take a look at it tomorrow otherwise.

[2017-01-10 17:39] Jogan commented on #43
@digitalbuddha check out #44. I'm fairly new to contributing. Let me know how it looks.

[2017-01-10 19:20] digitalbuddha opened #45 "Create GsonStringListParser & GsonReaderListParser"
Similar to https://github.com/NYTimes/Store/pull/44 but for Reader & String inputs

[2017-01-10 19:32] digitalbuddha commented on #43
I pushed up a 1.3-Snapshot to mavens snapshot repo if you want to use it now. I'm going to take another look tonight and might merge it with the regular Middleware by having 2 constructors.

[2017-01-10 19:36] Jogan commented on #43
@digitalbuddha sounds good thanks!

[2017-01-10 20:51] digitalbuddha commented on #43
Fixed by https://github.com/NYTimes/Store/pull/46

[2017-01-10 20:54] digitalbuddha opened #47 "Add Parser for JsonArray example to read me"
Example usage is in  Test https://github.com/NYTimes/Store/blob/develop/middleware/src/test/java/com/nytimes/android/external/store/GsonSourceListParserTest.java#L44

[2017-01-10 21:53] digitalbuddha commented on #43
new snapshot deployed 1.0.3-SNAPSHOT should be up shortly. Thank you for your help today on getting the ball rolling.

[2017-01-10 21:53] #43 closed

[2017-01-10 21:53] #45 closed

[2017-01-11 14:44] digitalbuddha opened #49 "Add Nullability Annotations"

[2017-01-11 15:09] #40 closed

[2017-01-11 22:28] michaldrabik commented on #49
Do you follow convention to mark only `@Nullable` and everything else is assumed non null or would you rather just annotate everything?

[2017-01-11 22:30] digitalbuddha commented on #49
Annotate everything for better compatibility with Kotlins null types.

[2017-01-12 06:58] PaulWoitaschek opened #51 "Versioning history deleted"
I saw you deleted the version history for 1.0.0 and 1.0.1. It would be great if you could keep old versions intact so its easier to follow the progress and track issues.

[2017-01-12 10:48] #49 closed

[2017-01-12 12:52] digitalbuddha commented on #51
Sorry not sure what you mean? We just started a changelog https://github.com/NYTimes/Store/blob/develop/CHANGELOG.md

[2017-01-12 14:36] PaulWoitaschek commented on #51
On the release page and as tags there is only 1.0.2. If this is really the first tag this issue can be closed.

[2017-01-12 14:36] #51 closed

[2017-01-12 15:13] digitalbuddha commented on #51
Yup, we were lazy before.  Thanks for keeping us honest 💯 enjoy your day

[2017-01-12 15:32] #47 closed

[2017-01-12 15:57] digitalbuddha commented on #36
@scottmeschke I'd be open to figuring out a way to abstract RxJava stuff into adapters so that both Rx1 & Rx2 will work, I don't believe this would be trivial but at the same time possible.  Feel free to play with it (along with anyone else that wants rx2 support before we convert internally)

[2017-01-12 23:16] digitalbuddha opened #54 "Annotation Processor to generate Stores for Retrofit Interfaces"
It would be nice to write a code generator that could read Retrofit annotations and generate a store instance for it. The nice part about this setup is that you can make Barcodes specific to the params being passed in.

[2017-01-13 04:21] eneim commented on #54
"Store" doesn't need to be strictly used with Retrofit, your proposal should be a 3-rd party plugin :D.

[2017-01-13 04:23] digitalbuddha commented on #54
It absoutely would be a seperate module/artifact. This is merely a convenience the way the Middleware is. Thinking about it more you don't even need to read annotations, just field types/names.

[2017-01-14 13:54] digitalbuddha commented on #54
Step 1. Generate fetcher and Barcodes.
Step 2. Generate store for BufferedSource input only
Step 3. Add our own annotations to drive stores with and without persister/caches

[2017-01-14 14:10] michaldrabik commented on #54
Could you provide an example of how should it look like? For example lets take `Api` interface from the sample app. Should the generator take both methods (annotated with `    @GET("r/{subredditName}/new/.json")
`) and generate Stores for `RedditData` and `ResponseBody`. Or should we be able to annotate particular methods.

Maybe I am missing something?

[2017-01-14 14:50] digitalbuddha commented on #54
I'm actually going to bang this out tomorrow. What I was thinking is annotate the entire class with @Stores which would generate a store for each Get request.   You'd have to pass a factory that can create a gson instance to the annotation. You'd also need to pass the factory that creates a file system. Sorry still half an idea. I'll open a pr tomorrow and we can refine from there.

[2017-01-14 15:15] digitalbuddha opened #57 "Allow multiple parsers."
Currently you can only pass in a single parser. There are times when I want to use a Middleware parse plus add additional parser.

Ideally I should be able to do:
Builder.fetcher().parser(firstParser).parser(secondParser).build()

A solution should be found that does not require any additional generics while allowing any number of parsers to be used in serial.

[2017-01-14 18:17] brianPlummer opened #59 "Clean up dependencies.gradle.....remove unused"

[2017-01-14 18:20] brianPlummer commented on #41
https://github.com/NYTimes/Store/pull/56

[2017-01-14 18:20] #41 closed

[2017-01-14 18:25] #59 closed

[2017-01-14 21:14] michaldrabik commented on #57
What would a real life scenario be, where you need multiple parsers?

[2017-01-14 21:37] digitalbuddha commented on #57
Let's say when you first want to use a Middleware parser to convert from json to pojos. Then you want to rearrange the data for example flattening an api that has nested nodes

[2017-01-14 21:59] michaldrabik commented on #57
OK, so like: JSON --> POJO1 --> POJO2 (different type than POJO1)

[2017-01-14 22:05] digitalbuddha commented on #57
Yup! It will make it easier to share some parsers and then build on top of them without needing to subclass

[2017-01-15 18:37] #39 closed

[2017-01-15 21:22] PaulWoitaschek commented on #36
I'd just make the transition to the latest version of RxJava and tell people with Lacey m legacy to use the interop library.

Rx2 is the future.

[2017-01-17 15:47] digitalbuddha commented on #54
not done but its a start: currently generating custom `Barcodes` and a Module that can be extended or used with Dagger to create `Stores`
https://github.com/NYTimes/Store/pull/64

[2017-01-17 17:13] bstanleynerd opened #66 "GsonAdaptersModel missing?"
I've cloned the Store repository and when I do a build the symbol`com.nytimes.android.sample.data.model.GsonAdaptersModel`cannot be resolved.  I don't see the source for that class in my workspace and I don't see it in the repository.

Any insights on this?

[2017-01-17 17:16] digitalbuddha commented on #66
It should be auto generated by the immutables annotation processor. How are you building? Any errors?

[2017-01-17 17:30] bstanleynerd commented on #66
I am using Android Studio and I opened the project at the 'Store' folder.
When I do a make (hammer button) both the Messages window and the Grandle
Console window say "BUILD SUCCESSFUL".

Since you asked about errors I looked back through the Gradle Console log
and there are some warnings about unchecked or unsafe operations and a few
about using or overriding a deprecated API.  I've attached a fi

[2017-01-17 17:34] digitalbuddha commented on #66
<img width="521" alt="screen shot 2017-01-17 at 12 33 40 pm" src="https://cloud.githubusercontent.com/assets/4528092/22032179/4c40e8fa-dcb1-11e6-9fe2-68a6b8b8d0ad.png">

Look in the build folder there should be a generated class.

[2017-01-17 17:36] bstanleynerd commented on #66
Yes, it is there.

[2017-01-17 17:37] bstanleynerd commented on #66
It is in a different package though, `com.nytimes.android.sample.activity` instead of `...sample.data.model`

[2017-01-17 17:39] digitalbuddha commented on #66
Are you able to run the sample project? I don't think theres an error as test pass when I build.

[2017-01-17 17:39] bstanleynerd commented on #66
To clarify.  it is in the right folder as shown in the image you posted but the package declaration in the source is for `...sample.activity`

[2017-01-17 17:41] bstanleynerd commented on #66
I hadn't tried running it, I just saw the errors flagged in the Android Studio editor.  I will try to run it...

[2017-01-17 17:42] digitalbuddha commented on #66
got it. Until you run the project once. The generated code will not exist and you will see as "error" once you run project the code will get generated and will no longer appear read.  If you do a clean, the generated folder will be removed and you will have to build again.

[2017-01-17 17:43] bstanleynerd commented on #66
Ah, ok.  The vagaries of generated code.  I am running it but some components need to be installed and that may take a while and I am due in a meeting now.  I'll report back when I can.

[2017-01-17 17:44] #66 closed

[2017-01-17 18:22] bstanleynerd commented on #66
Ok, no more issues in the AS editor and the app runs.

Thanks for your help!

[2017-01-18 04:00] digitalbuddha opened #67 "Documentation Update"
Now that we have 3 middleware packages. We should update the Readme to show all 3.

We should also start thinking of making a wiki with common examples and recipes.
One for each type of middleware
Store with no persister or parser.
Store with middleware plus custom parser (multiparser)
Store with sql persister
Example using Stream/fetch/get.
Example with okhttp
Example with top level JsonAdapter
E

[2017-01-18 16:00] #57 closed

[2017-01-18 16:12] digitalbuddha opened #68 "Repeat When Clear functionality"
Update/EDIT:
It would be nice to have a repeat when functionality where anytime clear is called a subscriber will be resubscribed.  The new public api method will be `store.getRefreshing(barcode)` a call to store.clear() drives the refresh

We also need to add clearAll(barcode) which will clear both memory and disk cache.

[2017-01-18 17:59] digitalbuddha opened #69 "Add record for File System"
A Record represents metadata about a stored object, kind of like a java 'File'
or 'stat' in a unix filesystem. The idea here is to allow you to get info like
last modified time without actually reading the file's contents.

[2017-01-19 12:09] digitalbuddha commented on #67
Example load first from cache and then from network.

[2017-01-20 14:06] PaulWoitaschek opened #72 "Clarifying Store.stream"
Currently I find the implementation of `stream(barcode)` very confusing.

If I understand correctly, it makes a call with the barcode and then returns all results of all barcodes.
But before reading the documentation I thought that it would stream everything that matches to the barcode.

My suggestion is to remove the barcode from the signature of stream. And to make stream() completely passive (l

[2017-01-20 14:07] digitalbuddha commented on #72
Makes sense. Want to PR?

[2017-01-20 14:08] PaulWoitaschek commented on #72
I'll give it a try.

[2017-01-20 14:09] digitalbuddha commented on #72
Sure. I can get it done over weekend too. Deprecated current implementation, I'll pull it out in 1.1

[2017-01-20 15:03] PaulWoitaschek commented on #72
Like this? Couldn't resist from making a small cleanup.

[2017-01-20 17:13] #72 closed

[2017-01-20 18:56] digitalbuddha commented on #67
Recipes created. https://github.com/NYTimes/Store/wiki/Recipes

I did not go through making the OKHTTP or sql persister example as those would be served better as samples in the project. Please open new issue if any example is needed. Will add more as issues come up :-)

[2017-01-20 18:56] #67 closed

[2017-01-23 21:06] digitalbuddha opened #76 "Expose FileSystem in SourcePersisterFactory"
Currently `SourcePersisterFactory.create` expects a File.  We should have an additional override which takes a `FileSystem` this way you will be able to have a reference to your `FileSystemImpl` to delete disk cache.

[2017-01-24 16:15] digitalbuddha opened #78 "Add Error Prone"
The cool kids are using ErrorProne for static analysis and so will we :-)

[2017-01-25 00:45] #76 closed

[2017-01-25 00:49] #78 closed

[2017-01-25 18:10] pwittchen commented on #36
Is there any interop solution, which allows converting RxJava2 to RxJava1 code? As far as I know [RxJava2Interop](https://github.com/akarnokd/RxJava2Interop) does this thing the other way around.

[2017-01-26 06:31] PaulWoitaschek commented on #36
Both ways @pwittchen

[2017-01-27 12:26] PaulWoitaschek commented on #23
Any news on this?

I tried your approach:

But it's final:

`public final class BarCode implements Serializable`.

Why is it serializable?

[2017-01-27 12:49] digitalbuddha commented on #23
Working towards it with code gen. Should be out next week.

[2017-01-27 14:31] digitalbuddha commented on #23
I need to give this some more thought, I can't find a solution that does not lead to a triple generic `ParsingStoreBuilder<T,R,V>`  We're open to suggestions of how to handle this.  Maybe there's some generic/casting magic I am not aware of.  I'd also be ok with suppressing a cast exception if it can be localized to a single place.

[2017-01-27 14:49] PaulWoitaschek commented on #23
I don't really see the issue here. When using lambdas, the type interference will handle most of the things. As a consumer it looks more like something the library is handling; see the example above.

And the barcode stuff is even more complicated. I am wrapping each Barcode through a moshi adapter and have something like

[code]

Thats quite some pain ;)

[2017-01-27 14:58] digitalbuddha commented on #23
Maybe I'm missing something, the store delegates to your fetcher. The fetcher takes a param. The Store needs to know what type to make the param. The only way I see this working is if you pass in a generic to the StoreBuilder with the barcode type. I just need to play with it some more and find a solution that works for you with complicating the simpler use case

[2017-01-27 15:43] PaulWoitaschek opened #83 "Pure java library?"
If I see correctly there is no dependency on the Android SDK. Why isn't it a pure java library?

When I want to experiment with the store I usually just want to fire up intellij and test things on my local machine without the need of a device.

[2017-01-27 15:53] digitalbuddha commented on #83
It's in progress as part of code gen pr. You're totally right. I was lazy and did it work. Will fix.

[2017-01-28 06:16] digitalbuddha commented on #23
Had a bit of a breakthrough.  I just need to settle on what to name things and some cleanup.  Right now I have something that looks like:

[code]

The nice part about the change is that it eliminates the `ParsingStoreBuilder`. If there is a particular way you want the above to look let me know.

Bedtime :-)

[2017-01-28 06:36] digitalbuddha commented on #23
Example of api with lambdas:
[code]

[2017-01-28 07:22] PaulWoitaschek commented on #23
Why is it necessary to specify the 3 class types?

[2017-01-28 13:34] digitalbuddha commented on #23
It's not necessary. You'll have ability to specific just key and 1 type if
no parser.

On Jan 28, 2017 2:22 AM, "Paul Woitaschek" <notifications@github.com> wrote:

[2017-01-29 01:53] #83 closed

[2017-01-29 06:37] PaulWoitaschek commented on #83
Nice 👍

[2017-01-29 13:45] digitalbuddha commented on #23
Realized that the double generic will be a breaking api change.   I'm going to discuss tomorrow internally to see best way to move forward. Open to ideas of how to roll this out. Thinking of doing version 1.1 with a breaking change where an additional generic will need to be added everywhere.

[2017-01-30 10:17] PaulWoitaschek commented on #23
As this library is still in its early days I'd ship new features and breaking changes quite fast.

Also I'd add a disclaimer that the general API is still a subject to change so the library can evolve fast.

[2017-01-30 11:02] PaulWoitaschek opened #89 "Get: Threading issue due to direct call to memCache"
For me the store does not work.

If I understand correctly multiple calls to `get()` with the same barcode should only subscribe to the source observable once. But that only works if I make the calls strictly sequentially. When I call get from different places, it makes a new network call for each. This is because you immediately call

`memCache.get(barCode, new Callable<Observable<Parsed>>()`  fr

[2017-01-30 11:08] digitalbuddha commented on #89
Top of the morning! Could you try with a non empty barcode. Also are you using the latest version, there was a missing hash code previously. The way the functionality is expected to work: memory caching is done in a Guava LoadingCache which backs each store. If multiple requests are made to the same mem cache, the loader will block each subsequent request until a single result is made. I'll valida

[2017-01-30 11:21] PaulWoitaschek commented on #89
Same with non-empty barcodes. Tested with be47cff570f910b17c1727fefe850bc99c3c51ce
Adjusted the provided testcase above.

[2017-01-30 11:25] digitalbuddha commented on #89
Thanks for reporting. Will look at it today. I'm curious why StoreTest.testDoubleTap is passing yet this is not. Yay for more tests ☺️

[2017-01-30 11:26] digitalbuddha commented on #89
Hey 1 more request. Could you please convert the test case to Java. I want to make sure I test against exactly what is failing for you

[2017-01-30 11:38] PaulWoitaschek commented on #89
Can't you add kotlin for tests? Java is such a pain

[code]

[2017-01-30 12:06] digitalbuddha commented on #89
you nailed it.

Wrapped the call in a defer and tests pass.  Thank you for using (and finding) issues within the Store. LMK if ever in nyc, I owe you a beer (and a visit to ny times if you'd like)

[2017-01-30 13:39] digitalbuddha opened #91 "Put 1 minute in flighter back in"
Per the readme the inflight debouncer should return same result if same request made within 1 minute of each other. This logic got pulled out in error. #89 surfaced the need for it again.

[2017-01-30 15:28] digitalbuddha commented on #89
Ok so you're find actually surfaced a few issues. Here is another one:  The disk cache was not lazy. Internally this was fine for us, but for you without a disk cache the No-Op disk cache internally was immediately encoding a cache miss within the parallel test.  TIL I should write more tests :-)  another pr coming

[2017-01-30 16:41] #89 closed

[2017-01-30 16:47] #91 closed

[2017-01-31 09:28] PaulWoitaschek opened #96 "Clear Memory Fails"
After clearing the memory a following call to `get` should make a new request. But it doesn't

See #95

[2017-01-31 12:16] digitalbuddha commented on #96
Fix will be to reset the persister when clear memory is called and the persister is a no op persister.

[2017-01-31 12:40] PaulWoitaschek commented on #96
Btw; I don't use a persister yet as I need a way to clear both memory and persister for a barcode.

Also I need to specify for how long persisted data is valid so I don't use stale data.

[2017-01-31 12:43] digitalbuddha commented on #96
That's great for me  because it is opposite if my use case and found all these problems!  As for the stale persister problem does the following work as solution for you: we make new StaleAwarePersister that has an additional callback for isStale(key). If true it will skip loading from disk. There's an issue for it if you have other ideas requirements. Thanks for using ☺️

[2017-01-31 13:52] #96 closed

[2017-01-31 14:08] digitalbuddha commented on #68
Might as well add isExpired if adding isStale to instead skip the disk cache completely

[2017-01-31 16:47] PaulWoitaschek commented on #68
What I need is also way to directly remove entries belonging to a specific barcode.

From my perspective what you call cache is only an implementation detail for me. When I call `clearMemory` what I really want is to clear both the memory cache as well as the file persistence cache.

My usecase is to be consistent to the backend.

I have an endpoint A that I call with a date that gives me the list

[2017-01-31 16:49] PaulWoitaschek commented on #96
Thanks for building it @digitalbuddha :)

I explained my usecase here #68

[2017-01-31 16:56] digitalbuddha commented on #68
Thats an interesting way to approach  a solution. Currently what I do I  your case is call store.fetch to refill the cache with new entry so that next call to get will have the new entry.   Let me think of a way to implement your requirement

[2017-01-31 17:01] pavlospt commented on #68
@PaulWoitaschek Why would you hit the cache to request data when you are sure that there are dates that should have been invalidated? I mean I would just go with `fetch` to be in sync with backend and then call `get` on the rest of the app.

[2017-01-31 17:06] PaulWoitaschek commented on #68
I need to access each endpoint from about 2-5 places at the same time. Each place is completely agnostic of the others. Based upon user interaction all these places need to refresh data. So there is no first place where I can call `fetch` from.

[2017-01-31 17:06] Exerosis opened #98 "Parser from disk but not from fetcher"
It would be very useful if one could get results from an API: eg. Stock stock = YahooFinance.get("NVDA"); Then persist that to disk using SourcePersisterFactory as a Json, then parse the result as it comes back from the disk.

[2017-01-31 17:08] digitalbuddha commented on #68
If I understand correctly you want a subject which is endless and emits a barcode any time you call clear with a barcode? What do you want it to emit when  there is a call for clear all?

[2017-01-31 17:08] pavlospt commented on #68
@PaulWoitaschek I would got with a let's say Service and hit the endpoint there, after that you can call `.share()` on the Observable and you will be able to access the same data.

[2017-01-31 17:12] digitalbuddha commented on #68
Yeah so my current strategy is similar to @pavlospt anytime I request data from store B I then call storeA.fetch rather than invalidating StoreA for a particular barcode.   There's already an Store.stream()  which emits a new value anytime a store calls fetch

[2017-01-31 17:14] PaulWoitaschek commented on #68
These things don't need to be in a library, that's a wrapper I built ontop. I'm just trying to explain why it makes no sense for me to differentiate between clearing the memory cache and clearing the file system cache.

[code]

[2017-01-31 17:28] digitalbuddha commented on #68
Lgtm tasks:
* add ClearingPersister with clear() override
* add clear functionality to SourcePersister
* add clear subject with getter
* add repeatWhenCacheEvicted transformer

[2017-01-31 18:22] PaulWoitaschek commented on #68
Just for the discussion: I think a call to `fetch` is in that case error prone. What if it fails because of bad network? Then future calls will still return invalid data.

[2017-01-31 18:25] digitalbuddha commented on #68
True. OK I'll mull over and start on a proof of concept. We can go from there.

[2017-01-31 18:41] digitalbuddha commented on #98
Currently the file system impelentation needs a stream from network.   As a result SourcePersisterFactory cannot work with an input of a scalar value like Stock.   What you can do is write your own persister which can still use the FileSystem, within your read/write impelentation you can do the conversion from your data type to a BufferedSource.  Use the SourcePersisterFactory as an example (there

[2017-01-31 19:34] pavlospt commented on #98
Just a small note here, if you are using GSON you can very easily convert your Stock object to a BufferedSource.

[code]

[2017-01-31 19:36] digitalbuddha commented on #98
one more helper method how to go from a string to a bufferedsource

[code]

[2017-01-31 22:30] digitalbuddha commented on #68
1 more thing to add as a perspective feature:
We should have `persister` implement `isRecordStale(barcode)` & `readStale(barcode) which returns `RecordState.FRESH` or `RecordState.STALE`.
If a record is stale we will fallthrough disk cache record and instead try to read from disk,
If the network fails we will then fallback and return the stale disk record.

Logic would go something like
[code]

[2017-02-01 00:40] digitalbuddha commented on #68
I'm going to split this issue into 2.

[2017-02-01 01:02] digitalbuddha commented on #68
Hi, @PaulWoitaschek everything makes sense to me but
[code]
Mind explaining that part?

[2017-02-01 09:29] PaulWoitaschek commented on #68
Thats just a transformer that modifies the source observable to call `repeatWhen` when the source observable emits.

[code]

[2017-02-01 11:13] PaulWoitaschek opened #100 "Store caches errors"
I'm not sure if this is intended behavior. If an `Observable` errors, subsequent calls to `get` just repeat that error.
I would expect the store to retry after an error.

[code]

[2017-02-01 11:49] pavlospt commented on #100
Agree on that issue, had stumble upon it before but did not have the time to open it. Retrying though is kind of obtrusive. I would expect that the Store would not write a resource and just hit the `fetcher` again.

[2017-02-01 11:51] digitalbuddha commented on #100
Issue is due to inflight being unaware if it is a good or error response and caching it for 1 min.  I'll make a change that will clear inflight if an error is read.  I don't believe any additional retry logic is needed.  Thanks for reporting PR coming....

[2017-02-01 11:52] PaulWoitaschek commented on #100
I was a little unclear. With retry I mean that in like in my test the second `get` should call the fetcher again.

[2017-02-01 11:56] digitalbuddha commented on #68
Mind if I pull it into the repo? I love the way you make a cold observable into an endless one, I think everyone else would benefit from this approach/recipe being available.

[2017-02-01 11:59] pavlospt commented on #68
@digitalbuddha Under which use case would you use that wrapper?

[2017-02-01 12:05] PaulWoitaschek commented on #68
Feel free to

[2017-02-01 12:06] digitalbuddha commented on #68
@pavlospt So once we have the clear subject in we can use this to have truly reactive stores.  With a one liner you can have your stores listening for any calls to clear which would have them call get again.   I'll have a nice example once functionality is completed

[2017-02-01 12:07] pavlospt commented on #68
@digitalbuddha It should be opt-in though instead of opt-out!

[2017-02-01 12:10] digitalbuddha commented on #68
Sure will be.

[2017-02-01 13:50] PaulWoitaschek commented on #68
While writing a test for that transformer it actually turns out there is a bug. It must be `.switchMap`, not `.flatMap`. Else it will subscribe to the source observable for each emission.

[2017-02-01 13:56] digitalbuddha commented on #68
Do you mind explaining? I'm failing to understand difference (or how repeatWhen works apparently)

[2017-02-01 13:58] pavlospt commented on #68
`flatMap` subscribes to every emitted Observable while `switchMap` subscribes only to the latest emitted!

[2017-02-01 14:07] PaulWoitaschek commented on #68
What repeatWhen does it:

It waits for the source observable to complete.
When the source observable completes, the function you supplied gets executed. You receive an observable and you return an observable.
So we need to `switchMap` on the received observable and return that result so each emission leads to the repeatWhen function re-subscribing to the original source observable. If we would fla

[2017-02-01 15:52] digitalbuddha commented on #68
@PaulWoitaschek thoughts on this api? Not sure on name and am open to suggestions
[code]

[2017-02-01 16:02] PaulWoitaschek commented on #68
I expected the original `stream(Barcode)` method to do exactly that. What about using the now deprecated method for exactly that?

[2017-02-01 16:42] digitalbuddha commented on #68
Confirming one more time, this is expected behavior?
[code]

[2017-02-01 16:59] #100 closed

[2017-02-01 18:34] PaulWoitaschek commented on #68
Yes. :)

[2017-02-02 09:55] #98 closed

[2017-02-02 14:00] digitalbuddha opened #102 "Add ClearDisk interface"
in conjunction with #68 we should have a way to clear memory and disk cache.  Current idea is add:

Store:
`    void clear(BarCode barCode);
`
Builder:
`   builder.diskClearer(barcode->//deletes entry from user's persister);`

[2017-02-02 14:48] pavlospt commented on #102
@digitalbuddha it should also provide an interface for whole disk cache clear I suppose. But that I guess would be exposed internally from the FileSystem ?

[2017-02-02 18:49] PaulWoitaschek commented on #102
Why would one want to clear one without the other? (cache & persistence)

Why shouldn't it be mandatory for persisters to be able to clear their data?

[2017-02-02 19:05] digitalbuddha commented on #102
For now backwards compatibility. I'll Deprecated and consider removing in v2.

[2017-02-02 19:57] PaulWoitaschek commented on #102
What about defining a common interface like `Clearable` that both the cache and the persister can implement? Then upon calling `.clear` throwing a `NotSupportedException` if the persister is not an instance of `Clearable`?

[2017-02-02 20:01] digitalbuddha commented on #102
Not following, mind explaining what you mean?  Also the memory cache is currently a guava cache which we don't have control over interface.  I guess it can be wrapped but yeah mind explaining what you mean?

[2017-02-02 20:08] PaulWoitaschek commented on #102
If I understand you correctly, you want to give the option to add a `DiskClearer` to the store that you supply through the builder.
This class responsibility is to clear data from the `Persister`.

So my suggestion is to instead of having a separate `DiskClearer` to have an interface that `Persisters` can implement to indicate that they know how to clear data.
Then if someone would call `clear` wi

[2017-02-02 20:24] digitalbuddha commented on #102
Sure that makes sense.  I was trying to handle the lambda case in the way that `DiskRead` & `DiskWrite` exist for when a Store is instantiated.  So maybe instead it should just be an additional override to `.persister(reader, writer, clearer)` while also allowing the interface to be implemented by someone implementing the current `Persister` interface. Thanks for feedback!

[2017-02-02 20:27] #68 closed

[2017-02-03 18:34] digitalbuddha opened #105 "Store 2.0 Release"
Major Changes:
#86 Migrate Barcode to any Type
#68 Refresh on Clear Transformer
#102 Add clear disk interface
#104 Stale Record for backfilling cache

[2017-02-03 18:48] digitalbuddha commented on #23
Disclaimer added to Readme, I'll be merging #86 today and doing a snapshot build of 1.08-Snapshot.  Once we get a few other tickets closed, particularly adding Stale records for file system & a disk clear interface we will release 1.10 with all the changes.  Feel free to use 1.08-SNAPSHOT at your own risk.

[2017-02-03 22:49] #23 closed

[2017-02-03 22:57] digitalbuddha commented on #23
1.08-SNAPSHOT is out @PaulWoitaschek we won't be doing integration testing until some time next week. Kindly let me know if anything seems the matter.

[2017-02-05 10:26] PaulWoitaschek commented on #23
@digitalbuddha Where is the snapshot?

[2017-02-05 21:40] digitalbuddha opened #109 "Simplify Store.types()"
The whole passing in types as class tokens ended up being messier than I would have hoped. Will instead create generic methods for store builder.

[2017-02-07 03:24] #109 closed

[2017-02-07 13:08] digitalbuddha opened #112 "Fix store.stream(key)"
I'd like to undeprecate Observable<T> stream(V id).  The adjusted functionality will be an endless stream that emits new network values coming through a store for a particular barcode. Stream allows you to stay subscribed in many places and then calling fetch(key)  to get them all a new value. Implementation will be similar to getRefreshing but will instead hook into new network values.

The diffe

[2017-02-07 23:01] digitalbuddha opened #116 "Add resolver to file system"
Since users can supply their own type for the Key (instead of Barcode), we need to make sure any key being created implements an `String id()` so that the file system will know how to turn the key into a filename.   Ideally this is only a requirement if using the FileSystem

[2017-02-08 06:09] pavlospt commented on #116
How will you limit it to FileSystem implementations? Would you go with another interface and make Key implement that one only when being used from a Filesystem ?

[2017-02-08 06:13] PaulWoitaschek commented on #116
That would restrict the types one can persist only to types one owns.
What about instead passing a `PathResolver<T>`?

[2017-02-08 11:54] digitalbuddha commented on #116
Maybe just precondition check when filesystem is used that the key implements some interface.

[2017-02-08 12:45] pavlospt commented on #116
@digitalbuddha That sounds good as well!

[2017-02-08 12:49] PaulWoitaschek commented on #116
So one can't use foreign classes like String or Integer as keys? Id prefer to have a resolver class in that case.

[2017-02-08 12:53] digitalbuddha commented on #116
Good point. Resolver it is.  Will make it extra param in file system factory.

[2017-02-08 15:54] digitalbuddha commented on #102
@PaulWoitaschek I'm starting to side with you. If there is a memory and disk cache why would someone only want to clear the memory one?  I'll instead rename `clearMemory` to `clear` and then clear disk when the disk implements `clearable` thank you for feedback

[2017-02-08 16:13] pavlospt commented on #102
@digitalbuddha Is there a chance to have memory and disk cache side-by-side?

[2017-02-08 16:18] digitalbuddha commented on #102
You can have both but I don't see a use case where you want to clear your memory cache but not your disk. If that is your use case you can always not implement clearable in your persister

[2017-02-08 20:37] #69 closed

[2017-02-08 20:43] digitalbuddha opened #118 "Remove remainder of stuff specific to a Store<T> or ParsingStore<T,V>"
since we are jumping directly to version 2 (without passing go :-)) it would make sense to remove the rest of the legacy interfaces/base classes that are depending on Barcode. IE this includes migrating the beta package to the normal one

[2017-02-08 20:44] #102 closed

[2017-02-08 20:46] digitalbuddha opened #119 "Update documentation for 2.0 release"
Wiki and readme

[2017-02-08 22:23] #116 closed

[2017-02-08 23:18] #118 closed

[2017-02-08 23:21] digitalbuddha commented on #105
Scheduling Store 2.0 for Monday. 2.0 snapshot should exist now if anyone wants to get a jump on upgrading.

[2017-02-09 20:14] digitalbuddha commented on #119
Could use some help if anyone is feeling up to it.

Readme changes:
- [ ] Change any `Store<Parsed>` to instead be `Store<Parsed,Key>`

- [ ] Change any Store builder or Parsing store builder  examples to instead use one of the following:
[code]
- [ ] Change Barcode section to explain that Barcodes are just a convenience and you can use any key you want, change all examples to use a primitive as a

[2017-02-09 20:30] digitalbuddha commented on #105
Currently blocked on updating documentation and wiki if anyone wants to help out with #119

[2017-02-09 22:29] digitalbuddha commented on #119
not sure if anything additional is needed but here is the changelog with all prs that went out since last release https://github.com/NYTimes/Store/blob/develop/CHANGELOG.md

[2017-02-10 17:48] #119 closed

[2017-02-10 17:48] digitalbuddha commented on #119
please see updated Readme and Wiki

[2017-02-10 17:49] digitalbuddha commented on #105
Updated changelist
(#126) Remove duplicate element from versions array
(#125) Fix name on occurences of Key
(#124) Create single instance of empty BarCode
(#123) Simplify Persister clear and RefreshSubject notify
(#122) Store v1 removal in favor of Stores with generic keys
(#120) Avoid multiple resolves of the same Key
(#115) Feature/filepersister
(#117) Feature/clear all cache
(#114) remove extra

[2017-02-15 15:27] #105 closed

[2017-02-18 21:28] stoyicker opened #132 "StandardCharsets usage causes runtime exception on API < 19"
see https://github.com/NYTimes/Store/pull/131
`StandardCharsets` was introduced in API 19 so you'll get a no class found if you try to use a gson parser on a lower api.

[2017-02-19 15:38] #132 closed, assigned to nobody

[2017-02-21 17:03] digitalbuddha opened #135 "Feed Key into Parser"
Current Parser implementation does not take the `Key` as an input. There are times when parsing logic is dependent on some request param ie type.  The proposal is to create a new Parser
```KeyParseFunc<Key,Raw,Parsed> implements Func2<Key,Raw,Parsed> {```
this way you can do
[code]

[2017-02-22 14:59] digitalbuddha commented on #135
Closed by #136

[2017-02-22 14:59] #135 closed, assigned to digitalbuddha

[2017-02-23 19:48] digitalbuddha opened #139 "Add FileSystemRecordPersister to RecordPersisterFactory"
please add the other Persister implementation to the factory. Additionally rename the Factory to `FileSystemPersisterFactory` and add `FileSystemPersister` to it as well

[2017-02-23 19:49] digitalbuddha commented on #139
@pavlospt feel free to take this up

[2017-02-23 19:56] pavlospt commented on #139
@digitalbuddha The `FileSystemPersister` does not implement `RecordProvider` though. I can add the relative Factories, but do we want to keep only one implementation or two different ones, with the only difference to be the implementation of the `RecordProvider` ?

[2017-02-23 20:14] pavlospt commented on #139
Tracked on #140

[2017-02-23 21:31] digitalbuddha commented on #139
@pavlospt will be pushed to snapshot when this finished https://travis-ci.org/NYTimes/Store/builds/204752233

[2017-02-23 21:31] #139 closed, assigned to nobody

[2017-02-27 21:55] digitalbuddha opened #142 "Store.clear() doesn't work as expected"
When a Store's `Persister` is `Clearable` a call to store.clear() does not work as expected.

Expected behavior:
`store.clear()` will call `persister.clear(key)` for any `key` that was ever saved through the store.

Actual Behavior:
`store.clear()` will call `persister.clear(key)` for only the keys that are currently cached in memory.

The problem is that there is no good way to know what `keys` t

[2017-02-28 05:54] pavlospt commented on #142
@digitalbuddha We could say that, we iterate throuh the given root FileSystem and for a given PathResolver add a new method called canResolve(filename). If so then delete the persisted file!

[2017-02-28 08:09] PaulWoitaschek commented on #142
The knowledge about which keys are persisted in the persister is only in the persiter.

So what about extending the `Clearable` interface with a `clear()` method and let the persister handle it themselfes?

[2017-02-28 08:13] pavlospt commented on #142
@PaulWoitaschek That's what I mean. Thanks for describing it even better!

[2017-02-28 14:43] stoyicker opened #143 "Checklist for 2.0.1?"
Just to know when it will be out basically.

[2017-02-28 14:57] digitalbuddha commented on #142
Yup that works more or less.  The built in `FileSystem` needs an implementation though.  I'm thinking of using https://github.com/square/tape to store all the files names in persistent queues that can then be retrieved for when clear is called.

[2017-02-28 14:58] pavlospt commented on #142
@digitalbuddha Since the FileSystem has access to its root, is there a need for another Library?

[2017-02-28 15:02] digitalbuddha commented on #142
It becomes complicated if multiple stores are sharing same file system.  We would need to either introduce a better hierarchy to the folder names or use prefixes and traversal. Alternatively we can for each store keep the path names of all elements in a different file.

[2017-02-28 15:06] pavlospt commented on #142
@digitalbuddha Isn't it though, the problem of the developer to keep a distinct folder for each Store?

[2017-02-28 15:11] digitalbuddha commented on #142
Currently that requirement doesn't exist, for example our app uses only 1 file system for all stores. I need to give this some  thought as I feel like the clearAll should be an implementation detail of the `FileSystemPersister` that it should be able to handle.  Thanks for helping discuss :-)

[2017-02-28 15:14] pavlospt commented on #142
@digitalbuddha just a tip here if it helps, I started an approach by letting PathResolver tell me if a File name is resolvable by it. So in the case it was and because a FileSystemPersister already knows about the PathResolver, it could delete the appropriate File. In that case every Store can delete its own Files in case you call a `.clear()` on its Persister.

[2017-02-28 15:15] digitalbuddha commented on #142
oh interesting!  something like that can work, I still worry about traversing every file to find the proper ones.

[2017-02-28 15:17] pavlospt commented on #142
FileSystem already can list them for you I guess. It has a `.list()` method.

[2017-02-28 15:24] digitalbuddha commented on #142
Feel free to take a stab at a PR, if not I should have time later in the week to play with it.

[2017-02-28 15:44] pavlospt commented on #142
Tried to start it, but dropped it due to work. Will re-try later in the evening!

[2017-02-28 21:11] pavlospt commented on #142
Did not have the time to make any progress on this, if anyone wants to take it off and discuss it further, would be more than happy to help!

[2017-02-28 21:25] digitalbuddha commented on #142
Will take a stab in few days.

[2017-03-01 15:43] brianPlummer commented on #143
2.0.1 released:  https://github.com/NYTimes/Store/commit/0ff02895c64740e94151855aa573937fab4a79af

[2017-03-01 15:43] #143 closed, assigned to brianPlummer

[2017-03-02 02:35] digitalbuddha opened #145 "Translate docs to Russian and Chinese"
Our two largest non English user bases seem to be China and Russia, it would be nice to have translated documentation.

[2017-03-05 17:32] maksim-m commented on #145
Do you mean README file? As a Russian native speaker I can help with that.

[2017-03-05 17:34] digitalbuddha commented on #145
Yes Readme ideally  the recipes that are in the wiki as well.  Thank you for thinking to contribute!

[2017-03-05 18:14] PaulWoitaschek commented on #145
Maybe a naive question but don't all devs speak English? Never seen any German class names so far.

[2017-03-05 20:32] digitalbuddha commented on #145
Yup! Most code is in English. Documentation is not the same. For example android docs are localized.  I actually got the idea from OkBuck repo which had Chinese translations for readme/wiki

[2017-03-07 08:04] tsaisean opened #147 "Why fetch is called every time when getting datas?"
I'm using `get` method, but `fetch` still get called every time.
I don't know the cache is working or not? 🤔

[code]

[code]

[code]

[2017-03-07 08:24] pavlospt commented on #147
@tsaisean Can you also please post the `get` part of your code?

[2017-03-07 08:32] tsaisean commented on #147
@pavlospt Updated.

[2017-03-07 08:38] pavlospt commented on #147
@tsaisean And what version are you using?

[2017-03-07 08:42] tsaisean commented on #147
@pavlospt I'm using the sample inside the **Store** project. "Store/app/src/"

[2017-03-07 09:46] pavlospt commented on #147
@tsaisean Did you delete the persister or something like that? The first time it is supposed to request from Network due to a cache miss, but the second time it will hit your cache.

[2017-03-07 09:51] pavlospt commented on #147
![screen shot 2017-03-07 at 11 49 22](https://cloud.githubusercontent.com/assets/1070871/23650862/439f2b20-032c-11e7-8857-f9a35fb023d5.png)

It caches as expected. How did you check that it doesn't work on your case?

[2017-03-07 12:32] digitalbuddha commented on #147
Hi thank you for submission but we have to trouble reproducing problem. Could you include a failing test case that shows network getting hit on multiple calls.

[2017-03-07 12:53] tsaisean commented on #147
@pavlospt @digitalbuddha
I'm using **StoreActivity**, not **PersistingStoreActivity**.
`/Store/app/src/main/java/com/nytimes/android/sample/activity/StoreActivity.java`
I intended to use memory cache only, and no disk cache.

[2017-03-07 12:58] digitalbuddha commented on #147
Sure but when you say network is being called how do you see that?

[2017-03-07 13:00] tsaisean commented on #147
I didn't say network. I modify the sample a bit. 😄

[code]

[2017-03-07 13:01] digitalbuddha commented on #147
Pls show me fetch being executed multiple times

[2017-03-07 13:25] tsaisean commented on #147
![image](https://cloud.githubusercontent.com/assets/4138501/23658214/9a3c88b0-037c-11e7-822e-34b4347f39b9.png)

Still waiting 5 secs for 2nd load since `fetch` is invoked again.

[2017-03-07 13:32] digitalbuddha commented on #147
Do me a favor. Make fetch return i++ so value changes each time it is executed. I'll  be at work in hour and can see what's up then.

[2017-03-07 13:36] pavlospt commented on #147
@tsaisean When do you call the `Store.get()` method? As I see from your screenshot seems like you are sending the app on background and call `.get()` in `onResume()` ?

[2017-03-07 13:42] tsaisean commented on #147
@pavlospt
Yes, I expected to get the value from memory cache directly for the 2nd `onResume`.

[2017-03-07 13:45] tsaisean commented on #147
@digitalbuddha
[code]

[2017-03-07 13:49] digitalbuddha commented on #147
Can you push your code to github I'll look in a few.

[2017-03-07 14:01] pavlospt commented on #147
@tsaisean I think I know why this is happening! Well, since you are using the sample app, it means that each time you call `loadPosts()` you create a new `Store` object. What this does is create it from scratch and then give it back so you can call `.get()`. Even if you added a memory caching there, it would still not work.

What you need to do is: 1) Create a class variable and instantiate `Store

[2017-03-07 14:17] tsaisean commented on #147
@pavlospt You are right! I'm blind. 😞

Thanks for your help! @pavlospt and @digitalbuddha
Very appreciated!! 🙂

[2017-03-07 14:20] digitalbuddha opened #148 "Move Store in sample out of activity."
Current sample is weird because the store gets recreated on rotate. We should move store creation to the application class.

[2017-03-07 14:20] digitalbuddha commented on #147
https://github.com/NYTimes/Store/issues/148 sample needs fixing

[2017-03-07 23:55] #147 closed, assigned to nobody

[2017-03-07 23:55] #148 closed, assigned to nobody

[2017-03-07 23:56] digitalbuddha commented on #54
Dying on the vine but moshi adapter syntax gave me some ideas.

[2017-03-07 23:56] #54 closed

[2017-03-07 23:59] digitalbuddha commented on #36
We are making the jump to rx2 internally. Will give this a whirl soon. If anyone wants to convert feel free to start ☺️

[2017-03-08 12:47] digitalbuddha opened #150 "MO no op MO problems"
#149 raises another interesting issue. If the mem cache is less than a minute the in flight denouncer also needs to be adjusted. Secondly the no op persister needs to be migrated to use a guava cache which has same policy as mem cache.

[2017-03-08 16:29] PaulWoitaschek commented on #36
Does this go together with #22

[2017-03-08 16:49] digitalbuddha commented on #36
Yeah I guess its going to have to since some operators return single by default.. Good question!

[2017-03-08 19:07] PaulWoitaschek commented on #36
@digitalbuddha What about lambdas? With retrolamba it just compiles to bytecode like everything else and that would make the work way easier!

[2017-03-08 19:19] digitalbuddha commented on #36
My only concern is the additional methods that are added. Last I checked retrolambda turned each `call` into 3 methods.

[2017-03-08 19:23] pavlospt commented on #36
There is no need to add Retrolambda as an extra dependency. No obvious advantage of using it.

[2017-03-08 19:30] digitalbuddha commented on #36
So I think what @PaulWoitaschek  is getting at is that the refactoring is much easier if we are dealing with Lambda's rather than having to refactor each anonymous class to be a different class.

[2017-03-08 19:36] pavlospt commented on #150
@digitalbuddha You can though have a NoopPersister without having to add a memcache, right? What would happen in such a case?

[2017-03-08 19:37] digitalbuddha commented on #150
Mem Cache is necessary there is no way to skip.

[2017-03-08 19:37] digitalbuddha commented on #150
The memory cache is actually used for some of the inflight blocking logic

[2017-03-08 20:52] stellaaaaa commented on #145
Hi as a Chinese native speaker I think I can help with that!

[2017-03-08 21:03] digitalbuddha opened #152 "Translate Recipes to Chinese"
as part of #145, we had a volunteer to translate recipes woo!

[2017-03-08 23:18] maksim-m commented on #36
Are you planning to drop support for RxJava v1 completely in one of the next releases?

Maybe you could create a new branch for only RxJava v2 version so others can send PRs against it?

[2017-03-08 23:26] digitalbuddha commented on #36
My thought was to make 1x branch Deprecated in few releases. Then do only new development on 2.x.  If something is critical I guess it can be done in the other branch too. Like mentioned above there is an interop libraries plus it seems square is starting to convert their libs.  Thoughts?

[2017-03-09 22:14] maksim-m commented on #36
Sounds good. So, you want to make this changes directly in develop branch, and create a new branch for RxJava v1 version, right?

[2017-03-09 22:32] digitalbuddha commented on #36
Yup that sounds reasonable.

[2017-03-09 22:33] digitalbuddha commented on #22
Something to think about. What happens if fetcher returns a stream? Single won't work for that case...

[2017-03-10 07:27] PaulWoitaschek commented on #22
That behavior is currently really undefined.

In response there is:

[code]

For flatMap the order of execution is not guaranteed and there will be a lot of read and writes concurrently without any synchronization. You might end up with `readDisk` results from previous `writeDisk` results or have written older responses first.

So either one handles that properly by using concatMap / switchMap and

[2017-03-10 11:00] PaulWoitaschek opened #156 "Using the persister"
I am still not using a persister as there are still some things I don't get:

How can you use retrofit with the `FileSystemPersister`? Do you have a `CallAdapter` for BufferedSource or how do you do it?

Also if I understand correctly it does not operate with stale and clear functionality. Shouldn't it implement `RecordProvider` and `Clearable`?

[2017-03-10 11:01] PaulWoitaschek commented on #142
Any progress on this?

[2017-03-10 11:05] PaulWoitaschek commented on #142
What is wrong with just distinct FileSystems for distinct Stores and data?

[2017-03-10 11:48] pavlospt commented on #156
What we do is that we use `.share()` on our observable and then use that Observable so that we can map it to a BufferedSource that will then be written on the disk.

e.g.:

[code]

[2017-03-10 12:05] PaulWoitaschek commented on #156
But that's terrible inefficient. You let Gson map the data to a pojo for retrofit. Then the persister will write it to a Buffered source and write it to disk. Then the persiter will read it and map it through Gson to a pojo.

That's a chain of:
`network -> pojo -> bufferedSource -> file -> bufferedSource -> pojo`

[2017-03-10 12:10] pavlospt commented on #156
That is just our way because we want to operate on the POJO before converting it to a BufferedSource. You could just skip that part and have your network write directly on a BufferedSource.

[2017-03-10 12:17] PaulWoitaschek commented on #156
And how can I do that using retrofit?

[2017-03-10 12:28] pavlospt commented on #156
@PaulWoitaschek Just return BufferedSource instead of returning a POJO on the method that you are using in your Fetcher.

[2017-03-10 12:30] PaulWoitaschek commented on #156
Retrofit can't return `BufferedSource`. That's why I was asking for a call adapter.

[2017-03-10 12:33] pavlospt commented on #156
@PaulWoitaschek I have used it before with just adding `Observable<BufferedSource>` and it worked..

[2017-03-10 13:20] digitalbuddha commented on #22
Good point. What I was trying to figure out is how to make Store work with something like a websocket.  Back to brainstorming.

[2017-03-10 13:27] digitalbuddha commented on #142
Nope no progress yet but still on my queue. I do not think that it should be a requirement to have distinct file system for each store.  That makes cleanup on something like logout a lil more complicated to manage.    We just need to find a nice strucuture to how we save to FileSystem so that we can have some sort of folder structure supported.  One idea was to pass the name of the store, md5 that

[2017-03-10 13:40] digitalbuddha commented on #156
Hi @PaulWoitaschek thank you for questions. We do in fact use a `BufferedSourceConverterFactory` with retrofit.
[code]
As for the Record/Clearable stuff we do have another Persister Impl that has both, I can pr it into the Store lib if you'd like.
[code]

The store will absolutely respect streaming from network to FS without having to worry about inflating and deflating Pojos unnecessarily. :-D
No

[2017-03-10 13:41] digitalbuddha commented on #156
Fyi when registering the above adapter, order does matter this works:
[code]

[2017-03-10 13:54] PaulWoitaschek commented on #156
Great! Why not adding that functionallity to the `FileSystemPersister` directly? Also this does not handle the `clearAll` case, right?

[2017-03-10 13:56] pavlospt commented on #142
@digitalbuddha If you md5 the Store's name, then you are overriding the FileSystem's default name that the user chose.

[2017-03-10 14:00] digitalbuddha commented on #156
Breaking change, open source is harder than I thought :-)

Doesn't handle `clearAll`.  I'm open to a PR that would have `clear()` delete everything in the root folder allowing you to use a seperate file system for each store...  I can't think of a better solution for the time being.

[2017-03-10 14:39] digitalbuddha commented on #142
I now understand why okhttp gives user very little control over the Cache :-)

[2017-03-10 14:43] PaulWoitaschek commented on #142
Feel free to make experiences and breaking changes :D

[2017-03-10 18:20] #150 closed, assigned to nobody

[2017-03-10 18:22] brianPlummer opened #157 "Fix param reassignment in RealInternalStore"
change pmd suppress all to just suppressing godClass:  https://github.com/NYTimes/Store/blob/develop/store/src/main/java/com/nytimes/android/external/store/base/impl/RealInternalStore.java#L40

[2017-03-10 18:23] brianPlummer opened #158 "Refactor RealInternalStore to remove pmd godClass warning"
https://github.com/NYTimes/Store/blob/develop/store/src/main/java/com/nytimes/android/external/store/base/impl/RealInternalStore.java#L40

[2017-03-14 01:18] digitalbuddha opened #160 "Hook Persister into MemoryCache Removal Listener"
We have this great mechanism for memory cache configuration. There is however no Cache Policy when using a `Persister`.  We will leverage the memory cache's RemovalListener to evict Perister records when mem cache records expire.

[2017-03-14 01:29] digitalbuddha commented on #160
@PaulWoitaschek will this get you to use the FileSystemPersister :-) ?

[2017-03-14 01:53] digitalbuddha commented on #142
We're going to fix this an elegant way by maintaining list of keys on disk, when a  store comes back we can reinflate the list and be ready to clear particular keys on disk.

[2017-03-14 03:18] #160 closed, assigned to nobody

[2017-03-14 15:01] vohsalab commented on #145
@digitalbuddha  I'm going to translate recipes to Russian.

[2017-03-14 15:04] digitalbuddha commented on #145
Thank you good sir!

On Mar 14, 2017 11:01 AM, "Ivan Balashov" <notifications@github.com> wrote:

[2017-03-18 10:49] stoyicker opened #162 "UncheckedExecutionException LocalCache$Segment#newEntryArray"
Caused by java.util.NoSuchElementException: Collection is empty.

[code]

I've seen this a couple of times when upgrading from a previous version of an app using Store on a real device but I'm yet to be able  to reproduce it consistently. Upon happening, every load attempt on the first run will end up in `onError` until you kill and re-open the app. Source for this can be found in https://github.c

[2017-03-18 11:01] digitalbuddha commented on #162
Thank you for reporting will absolutely look today. Any more info would be highly appreciated.

[2017-03-18 11:31] digitalbuddha commented on #162
I'm not convinced error is from store. It seems like it is coming from your code....
Caused by java.util.NoSuchElementException: Collection is empty.

<OR>.clearCacheFromPage (TopRequestSource.java)
<OR>.updatePageMapAndContinue (TopRequestSource.java)
<OR>.access$topFetcher$4d08bbeb (TopRequestSource.java)

Is it possible you are trying to delete something from a collection that is empty. This co

[2017-03-18 15:26] stoyicker commented on #162
Yes, it was some other thread misbehaving. My bad, apologies. Thanks.

[2017-03-18 15:26] #162 closed, assigned to nobody

[2017-03-20 21:51] mradzinski commented on #22
@digitalbuddha, `Single` does have an operator called `toObservable()` which should allow anyone to use  `Observable` operators in case those are needed. Rx recommendations are to use `Single`, `Completable` and `Maybe` when applicable, and I think RxJava2 is promoting that practice as well. I'm with @PaulWoitaschek that this will add clarity to the API.

[2017-03-21 01:46] digitalbuddha commented on #22
Makes sense, theres a PR out now to do the conversion to rx2. Once we land that let's start on adding Maybe/SIngle/Completable :-)

[2017-03-21 01:54] mradzinski commented on #22
Absolutely. As far as I read the idea is to land the PR this week, right? If so I can try making myself some time during the weekend or beginning of next week to help you guys with this feature request if you want.

[2017-03-21 02:14] digitalbuddha commented on #22
Yup idea is this week. I got stuck with some blockers. Hoping to make a solid effort tomorrow/Wednesday

[2017-03-21 08:21] ghost opened #165 "Make use of annotationProcessor"
I see that the project is using the apt plugin to process all the annotations. Would that be possible to move to the new annotationProcessor provided by the Android gradle plugin ?

[2017-03-21 08:30] digitalbuddha commented on #165
Sure! Want to submit a pr?

[2017-03-21 08:32] ghost commented on #165
Hey, yeah sure!

[2017-03-21 17:42] digitalbuddha opened #167 "RxJava2 Remaining Tasks"
Port to Rxjava2 is a less trivial than initially imagined. to close #155 we still need to do
- [ ] create branch 1.x
- [x] change package to com.nytimes.android.external.store2
- [x] return single/maybe where appropriate.  #185

[2017-03-21 17:48] PaulWoitaschek commented on #167
Why the interop? Why not just use the rxjava interop library?

[2017-03-21 17:50] digitalbuddha commented on #167
It would mean you'd need to either make a wrapper for each Store or use the interop every time you call any of the legacy stores.  Since one of our stores has 50+ subscribers that vary in which public api they are subscribing to, it felt like a nice convenience.

[2017-03-21 22:44] digitalbuddha commented on #167
Talked at meeting, won't need interop. Also we are not going to wait to convert internally. So really all that is needed is the creation of the 1.x branch, package rename and release. We will then support both the 1.x and 2.x branch until we can convert internally.

[2017-03-22 18:21] mradzinski commented on #167
@digitalbuddha I'm still up for the last task on that list. I'll start working on it as soon as 2.x branch becomes available and I get some free time from work.

[2017-03-23 08:57] kien92 opened #168 "Failed to sync Gradle project"
Error:Could not GET 'https://oss.sonatype.org/service/local/staging/deploy/maven2/com/android/support/recyclerview-v7/25.1.1/recyclerview-v7-25.1.1.pom'. Received status code 401 from server: Unauthorized
<a href="toggle.offline.mode">Enable Gradle 'offline mode' and sync project</a>

Please help?
Thanks

[2017-03-23 09:09] PaulWoitaschek commented on #168
This is completely unrelated to this library. Google or ask at stackoverflow

[2017-03-23 11:21] #168 closed, assigned to nobody

[2017-03-23 13:38] oldergod opened #169 "Typo in the english wiki"
There seems to me missing spaces for many `###titles`.

![image](https://cloud.githubusercontent.com/assets/1767669/24250201/634539c0-1019-11e7-8759-1ea52d0b9155.png)

![image](https://cloud.githubusercontent.com/assets/1767669/24250210/67e7f6ac-1019-11e7-81a4-5400c418343e.png)

etc.

[2017-03-23 13:46] digitalbuddha commented on #169
Fixed. Thank you. lmk if I missed any

[2017-03-23 20:25] #169 closed, assigned to nobody

[2017-03-23 22:27] digitalbuddha commented on #167
Anyone want to be first victim and try the new artifacts? I just pushed first snapshots
https://oss.sonatype.org/content/repositories/snapshots/com/nytimes/android/

@mradzinski please see branch feature/rx2, feel free to create an issue and start on single/maybe stuff.  Not sure where it fits perfectly but would be happy to discuss.

[2017-03-23 23:37] mradzinski commented on #167
@digitalbuddha I forked the repo and started working on a new branch based on the feature/rx2 one. I'll make a PR as soon as I'm done with it so we can merge it to rx2 here 😉

[2017-03-23 23:38] digitalbuddha commented on #167
It would be helpful if you can make issues expiring what you will do as well. Thank you good sir!

[2017-03-24 13:56] riclage opened #172 "Get all the items of a given type?"
I'm currently only using the filesystem lib to persist data locally but I'm struggling to find a convenient way to fetch all items of a given type from my cache.

As far as I understood, currently I would need to keep another object in cache with the reference to objects I want returned and make sure I keep this parent object updated.

It seems this could be improved by making the "type" a folder

[2017-03-24 14:04] pavlospt commented on #172
I think that this was not something that Store was designed for. Maybe something like a plugin could work in this case, in the sense of making Store extensible.

[2017-03-24 14:11] digitalbuddha commented on #172
I would be open to a PR that creates an additional override to filesystem read which takes a folder and path. We can then change the pathForBarcode while still allowing other users to keep data flat. Thank you for using library.

[2017-03-24 14:25] riclage commented on #172
Taking a folder and a path won't solve the issue since the `path` will still point to a specific item, no? Why not just use `list()` which is already present and get all files of a given `type` folder?

[2017-03-24 14:38] digitalbuddha commented on #172
Misread your original comment. Changing the `pathForBarcode` method without making any change to the file system makes sense.

[2017-03-24 14:45] digitalbuddha commented on #172
Hey could you tell me what you're using for the File System. Which version and Persister specifically.  I'll make the change today.

[2017-03-24 14:52] riclage commented on #172
Hey, thanks!

I'm using only the filesystem lib version 2.0.3 with `SourcePersisterFactory.create(context.getCacheDir())` to create my `Persister<BufferedSource, BarCode>`.

What I'm looking for is to have something like a `persister.readAll(BarCode.type())` method to return `Observable<List<Raw>>`.

[2017-03-25 23:38] digitalbuddha opened #174 "Adopt major Versioning naming similar to square libs"
We are approaching the release of Store built with Rxjava2.  Since the current version of Store is 2+ we will follow a pattern similar to okhttp/retrofit  when naming artifacts

http://jakewharton.com/java-interoperability-policy-for-major-version-updates/

com.nytimes.android.store3 will be the package that all artifacts share

We will then have .store3:3.0.0 as the first release with Rxjava2

An

[2017-03-26 00:07] maksim-m commented on #174
I think, it must be the same version for all artifacts so that users can easily update Store dependencies.

[2017-04-07 06:40] mradzinski commented on #167
Just a small update. I've been extremely busy with some projects at work and haven't had a chance of working on this. I'll attempt to tackle the single/maybe task next week, but if anyone wants to start working on it please be my guest.

[2017-04-08 04:13] hwt88 commented on #156
How can i change Persister<BufferedSource,T> to Persister<POJO,T> in FileSystemPersister ? Beacause i don't want to change my Retrofit interface to return Observable<BufferedSource> !

[2017-04-08 04:17] digitalbuddha commented on #156
You would need to either implement your own persister or return observable
of a BufferedSource from retrofit. If you want the second option I can post
a converter to use

On Apr 8, 2017 6:13 AM, "UsherBaby" <notifications@github.com> wrote:

[2017-04-08 04:20] hwt88 commented on #156
@PaulWoitaschek Ok , so post the converter ! Thanks

[2017-04-08 04:22] digitalbuddha commented on #156
[code]

[2017-04-08 04:26] #156 closed, assigned to nobody

[2017-04-12 19:07] KevCron commented on #158
Gave this a shot: https://github.com/NYTimes/Store/pull/179

Let me know you're thoughts

[2017-04-13 19:48] digitalbuddha opened #180 "NotifySubscriber SideEffect causes StackOverflows on Samsung tablets"
We started seeing StackOverflowExceptions coming from Samsung tablets running 4.4.2

Diving into the issue it seems like it is coming from this area of code
[code]

The issue is that notifySubscribers is coming from a `doOnNext` (Side effect) which means that anyone listening to `store.stream()` gets a stack of all the operators that came from the network response/disk read/disk write flow.  We ne

[2017-04-13 20:03] pavlospt commented on #180
What if you `.share()` this stream and call `.doOnNext()` on a new one created from the shared ?

[2017-04-13 20:05] digitalbuddha commented on #180
I'm not sure if that would be sufficient as the shared stream still will be very long. Its feels more like we want to squash the observable into something smaller or somehow translate it somewhere else.  Again this is very edge case on 2 samsung tablets that seem to have mucked with stack size

[2017-04-16 23:33] JoniDS opened #181 "networkBeforeStale() not calling onNext or onError"
When using **networkBeforeStale()** without the app having any cache (i.e. first run in flight mode), neither onNext() nor onError is called, instead onCompleted() is immediately called.

Expected outcome: onError() is called with the thrown exception (Retrofit connection exception in this case).
[StoreTest.zip](https://github.com/NYTimes/Store/files/924655/StoreTest.zip)

[2017-04-16 23:35] digitalbuddha commented on #181
Will look in am. Thanks for reporting that sounds not good ☺️

[2017-04-17 00:33] JoniDS commented on #181
I believe this is due to **FSReader.java** completing the observable (and ignoring the network exception) when the cache file doesn't exist:

[code]

I have a working solution but need to check if I'm not breaking something else.
Basically this is what I'm doing:
FSReader.java:

[code]

RealInternalStore.java
[code]

[2017-04-17 13:15] digitalbuddha commented on #181
That looks reasonable. Let me discuss internally. There was a recent optimization that caused this issue.

[2017-04-17 19:17] digitalbuddha commented on #181
Can't find a cleaner solution that what you offered. Thank you for your suggestion. I'm going to wrap in some tests and PR a fix today/tomorrow

[2017-04-17 19:19] digitalbuddha commented on #181
To sanity check: Your case is calling `store.get()` with a 'networkBeforeStale` Store having nothing on disk and network conditions of offline?

[2017-04-17 20:15] JoniDS commented on #181
Yes, which will trigger **onCompleted()** without triggering **onNext()** or **onError()** before.

[2017-04-18 19:24] digitalbuddha opened #183 "Add Lambdas"
Since the desugar tool will be a part of gradle 2.5 I think it's time to add retrolambda and start simplifying `RealInternalStore` among other classes.

We are open to an external contribution for this.

[2017-04-18 19:33] pavlospt commented on #183
If anyone starts this, please mention it here, so that we can avoid double wasted work :)

[2017-04-19 19:47] digitalbuddha commented on #181
2.0.5-SNAPSHOT has the fix and will be live in 20min

[2017-04-20 12:21] stat0s2p opened #184 "can i update other key in a store after fetcher?"
Dear,
i want use this lib in a RecyclerView adapter for very long list.
for example i have api /books?skip=10&limit=10 return 10 items，but the adapter request one item  per time on onBindViewHolder(holder,position).if i use it directly,it will request network 10 times.
i think is effective if i can update 9 other items on store fetch callback.
is any api can do that？thank you.

[2017-04-20 12:22] pavlospt commented on #184
@stat0s2p Why do you need onBindViewHolder to make the network fetch?

[2017-04-20 13:05] stat0s2p commented on #184
@pavlospt
Thank you for reply.Well,may be I do network fetch on ScrollListener is better.Just like YouTube,My app user can free to scroll hundred of records.at first,I want use the Store library as data source solve the memory problem.My WEB API request one more items on one request,I find it is hardly work with RecyclerView and my WEB API.
I think it is helpful if it offer a store.set(key,object)

[2017-04-20 13:11] digitalbuddha commented on #184
You can make a custom persister. Within this custom persister you can normalize your results in any manner you choose. Now you have control over how data is saved and retrieved. You can in theory make 1 store call then update ten files. Next you can make a store call to get each of those results separately.

[2017-04-20 13:20] stat0s2p commented on #184
@digitalbuddha  Yes,I think instance a NoopPersister pass to StoreBuilder and use the write method set cache manually.thank you for your help.

[2017-04-20 13:21] #184 closed, assigned to nobody

[2017-04-20 15:28] Fitzpasd commented on #183
I'd like to tackle this.  The ask is to introduce RetroLambda in anticipation of moving to the desugar tool when that's ready?

[2017-04-20 15:34] PaulWoitaschek commented on #183
Make sure not to make use of try with resources as desugar does not support that yet but retrolambda does.

[2017-04-20 15:38] Fitzpasd commented on #183
Sure.  We've recently done this in work, only using the lamda part of RetroLambda (no try-with-resource, default methods, etc.)

[2017-04-20 15:40] digitalbuddha commented on #183
Sounds good please take it on. Don't forget about converting tests too please

[2017-04-22 22:25] #165 closed, assigned to nobody

[2017-04-22 22:26] #157 closed, assigned to brianPlummer

[2017-04-22 22:26] #152 closed, assigned to nobody

[2017-04-22 22:26] #145 closed, assigned to nobody

[2017-04-22 22:28] digitalbuddha commented on #36
there is an experimental branch in progress.  We have another issue for tracking #167

[2017-04-22 22:28] #36 closed

[2017-04-23 10:45] #158 closed, assigned to brianPlummer

[2017-04-24 20:38] #22 closed

[2017-04-25 17:33] sahibjaspal opened #187 "Using persister without fetcher"
I'm having difficulty with using a persister without a fetcher.

Let's say that I already have an object that I want to store (I don't need a network call to grab it),

ItemToStore itemToStore = new ItemToStore();

How can I use the persister without using a fetcher?

[2017-04-25 17:58] digitalbuddha commented on #187
While this is outside of the typical use case, you can make a Fetcher that takes as input ItemToStore and returns the same item back from fetcher.

[2017-04-26 00:28] dhenry commented on #172
Hey is this still being actively worked on?

[2017-04-26 00:30] sahibjaspal commented on #187
Thanks!

[2017-04-26 00:30] #187 closed, assigned to nobody

[2017-04-26 00:32] digitalbuddha commented on #172
So sorry for delay. It is. We needed to make a strategy that would not
introduce breaking changes. Will have something in this week.

On Apr 25, 2017 8:28 PM, "David Henry" <notifications@github.com> wrote:

[2017-04-26 16:23] dhenry commented on #172
No worries, thanks for the update

[2017-04-28 04:51] ZacSweers commented on #183
I think the idea with desugar would be that you should write your library in java 8 and ship java 8 code, then desugar would run during the consuming app

[2017-04-30 01:16] digitalbuddha opened #190 "Add Raw to BufferedSource Converter"
Some users have asked for the ability to work with the `FileSystemPersister` when going from a raw that is already a Pojo or String for example a fetcher coming from `Retrofit`.  The initial proposal to create a `FileSystemPersister` which takes as input a raw to bufferedsouce converter ie:
[code]

This way someone can configure a Store to take in a Pojo yet still work with our FileSystem.

[2017-04-30 18:05] saket commented on #190
I was just going to open an issue for this. I use a library that internally wraps in a set of APIs and does not expose their response bodies. This means that I can only use a `RealStoreBuilder<Parsed, Parsed, Key>` by using `StoreBuilder.key()`. Additionally, I want to use an object other than `Barcode` as the key because I want to have complex cache keys. Both these constraints mean that I will h

[2017-04-30 18:09] digitalbuddha commented on #190
Filesystem is in no way ties to Barcodes.  Take a look at https://github.com/NYTimes/Store/blob/develop/filesystem/src/main/java/com/nytimes/android/external/fs/FileSystemPersisterFactory.java#L74 as this is a FileSystemPersister that can work with any key type.  The reason we use BufferedSource is that it allows streaming in a manner similar to Reader. As for naming, sorry nothing we can do about

[2017-04-30 18:14] saket commented on #190
Yes! Sadly `FileSystemPersister` is hardcoded to `BufferedSource`, which means I cannot use because I can only use `StoreBuilder.key()`. :(

I'm trying to follow `FileSystemPersisterFactory` for creating a custom persister which also implements `Clearable` and `RecordProvider`, but I'm unable to understand how are the `expirationDuration` and `expiration` being passed to the `create()` method. Can

[2017-04-30 19:04] saket commented on #190
Update: This is what I came up with: https://gist.github.com/Saketme/f57befdcd0423e6812d7230c6a8ba36e

Does this look correct to you?

[2017-04-30 19:18] digitalbuddha commented on #190
will comment on gist.

[2017-05-01 05:32] saket opened #191 "Feature parity of MemoryPolicy with Cache"
Hello, I just found out that `Cache` has been replaced with `MemoryPolicy` and the caching strategy now defaults to `expireAfterWrite()`. Will it be possible to add support for `expireAfterAccess()`?

**Use case**: I have a list of paginated items that are sorted by their date in descending order. That is, recent items are placed at the top. As the list is scrolled, more items at the bottom are fe

[2017-05-01 10:57] digitalbuddha commented on #191
Thank you for reporting! This was an oversight. I'll add more configuration to MemoryPolicy to allow expire after access.

[2017-05-01 15:12] pavlospt commented on #191
Wild guess is that it was expireAfterWrite since the start and we left it like it was!

[2017-05-01 20:46] digitalbuddha commented on #191
The issue task is to add an additional configuration to MemoryPolicy to set what type of Expiration the Store will have. The two options are: expireAfterWrite or expireAfterAccess.

[2017-05-01 20:49] digitalbuddha commented on #190
The task for this issue is to make an RxJava Transformer (both rx1 and rx2 branch), this would allow someone to do

[code]
This way no changes need to be made to the Store but users will be able to use Fetchers that do not output a `BufferedSource`

`TwoWayParserAdapter` should implement a BufferedParser interface that has a toJson and a fromJson method.

The rest of the transformer will look some

[2017-05-02 19:56] KevCron commented on #191
@digitalbuddha looking for outside help on this one?

[2017-05-02 19:57] digitalbuddha commented on #191
Absolutely! Thank you good sir!

On May 2, 2017 3:56 PM, "Kevin Cronly" <notifications@github.com> wrote:

[2017-05-03 17:43] Raenar4k opened #192 "Calls to fetch() and get() do not throw network error"
When calling `.fetch()` and `.get()` without internet connection store will return `Observable.empty()`.
This was somewhat unexpected, as readme explains:

I was expecting to either get results from the network or to get network error from Retrofit as in this case.

I assume this is intended?  (as there is function`OnErrorResumeWithEmpty`  used in real store implementation).
If so, it could help o

[2017-05-03 17:51] digitalbuddha commented on #192
Which version of the Store are you using? I think this was fixed in `2.0.5-SNAPSHOT`  Could you kindly make a failing test of your issue?

[2017-05-03 18:01] digitalbuddha commented on #192
The following test passes in latest Develop/Snapshot
[code]

[2017-05-04 13:50] digitalbuddha commented on #192
Top of the morning! Wanted to check again on what issue you are having.

[2017-05-04 15:45] Raenar4k commented on #192
Im using version `2.0.4`.
(Tried to use `2.0.5-SNAPSHOT`, but got stuck with this issue for a while http://stackoverflow.com/q/37084912).

I've tried the `NoNetworkTest` and it passes in my project!

I will try to make a test of my issue, but it will take a while (leaving for a week).
Thanks for quick feedback!

[2017-05-11 12:16] stoyicker opened #196 "Manual 'close' call missing?"
[code]

Using 2.0.4 with Filesystem and Moshi middleware. I believe this is because `FSReader#read(T key)` should have a `finally` clause that calls `close()` on the `BufferedSource`, but I didn't want to open a PR because I am not 100% sure.

[2017-05-12 10:33] AlexeyGorovoy opened #197 "A typo in Readme?"
There's this code in the readme file under "Creating a Store" section:
[code]

I'm asking about the second line, parameter `articleId` here has ArticleAsset type isn't it? And the method api.getArticle(..) returns Integer.

Shouldn't it be like this instead:
[code]

[2017-05-13 19:03] leighsn commented on #197
yup! just some copy pasta, mind opening a PR to fix? I think we can simplify with `StoreBuilder.<>key()` I believe.

[2017-05-13 19:07] digitalbuddha commented on #196
Thanks for reporting, definitely needs to be closed somewhere. I'm out of town for a week, @alexio or @brianPlummer mind taking a look at where to close the file reader?

[2017-05-13 19:08] digitalbuddha commented on #192
Were you able to reproduce your issue?

[2017-05-13 19:08] digitalbuddha commented on #191
@KevCron mind taking this one on or should we have someone internal fix it?

[2017-05-13 19:11] digitalbuddha commented on #174
We have started to convert our internal code base to RxJava2, as part of this conversion we will be doing a stable release of Store3 which will be built on RxJava2.  This also means that we will be deprecating Store(1).   Stay tuned :-)

[2017-05-13 19:13] digitalbuddha commented on #172
Sorry this keep stalling, we have a pr #194 that has the fix but had a messy rebase, awaiting a cleanup of that branch and then we will be good to go.  In addition to get all items for a given type we have also implemented delete all items for a given type.

[2017-05-13 19:26] pavlospt commented on #174
@digitalbuddha What does deprecation, effectively mean?

[2017-05-13 19:26] KevCron commented on #191
I'm working on it now, should have a PR in by tonight.

On Sat, May 13, 2017, 3:08 PM Mike Nakhimovich <notifications@github.com>
wrote:

--
Kevin Cronly
New York University | Computer Science and Statistics
kevin.john.cronly@gmail.com
201-398-8671
https://www.linkedin.com/in/kevincronly/

[2017-05-13 19:35] digitalbuddha commented on #174
@pavlospt one of the pain points we have now is that any changes to store built on RxJava1 means we also need to update the rx2 branch. Deprecation would mean that we would make Store3 (RxJava2 version) the primary develop branch and would officially stop new feature development on the Store (built with RxJava1) artifacts.  If a dire bug exists we would fix it but that would be the extent of suppo

[2017-05-13 19:43] pavlospt commented on #174
@digitalbuddha Thanks for the insights! I suppose it is time for everyone to move to RxJava 2 :P

[2017-05-14 00:45] KevCron commented on #191
Let me know your thoughts: https://github.com/NYTimes/Store/pull/199

[2017-05-14 09:57] stoyicker commented on #196
I've now had time to test that the solution I proposed seems correct. Opening a pr

[2017-05-14 09:59] digitalbuddha commented on #196
Perfect thank you good sir!

[2017-05-14 13:31] lalunamel opened #201 "Does subclassing `RealStore` and overriding `get` also modify the behavior of `fetch`, `stream`, and `getRefreshing`?"
Hi there!

I'm interested in subclassing `Store` like Mike Nakhimovich explains, [here](https://www.youtube.com/watch?v=G1MebI2k9aA&feature=youtu.be&t=26m30s), because I have a JSON object with data and a list of ids of dependent JSON objects I'd also like to fetch.

Will subclassing `RealStore` and overriding `get` to grab an object and it's dependent objects also modify the behavior of `fetch`,

[2017-05-14 13:57] digitalbuddha commented on #201
Hello! Mike here... Subclassing Get will not affect fetch but it will however affect getRefreshing since that is a get with a user initiated refresh.  Subclassing fetch would affect how get works since get calls fetch if nothing is in cache.

For your last question, if I understand correctly you want to have storeA call get anytime storeB calls get and storeA call fetch anytime storeB calls fetch

[2017-05-14 15:00] lalunamel commented on #201
Howdy - thanks for taking the time on the weekend to respond to my issue!

There was only one question in my issue, and I've corrected the last bit that may have made it seem like there were two.

Okay, so if I'm understanding right, if I want the same data (a combination/massaging of observables) out of all my store methods, all of `get`, `fetch`, and `stream` will have to be overridden.

[2017-05-14 15:06] digitalbuddha commented on #201
Yup! But I found that only overriding get with proper cache policies should be sufficient for most case.

[2017-05-14 15:39] #201 closed, assigned to nobody

[2017-05-15 03:28] #197 closed, assigned to nobody

[2017-05-15 03:29] digitalbuddha commented on #192
Closing due to inactivity

[2017-05-15 03:29] #192 closed, assigned to nobody

[2017-05-15 03:30] digitalbuddha commented on #183
I believe we still need to convert a few modules before closing

[2017-05-15 03:36] digitalbuddha opened #203 "Cleanup: delete old branches"
Lots of unnecessary merged branches exist. During hack week I'd love to cleanup leaving only develop & rx2

[2017-05-15 15:59] dhenry commented on #172
Great, looking forward to it 👍

[2017-05-15 16:09] digitalbuddha commented on #172
Pr is open, waiting for developer to fix messy merge and then it'll be in
next release ☺️

On May 15, 2017 6:59 PM, "David Henry" <notifications@github.com> wrote:

[2017-05-16 10:33] pavlospt opened #204 "Build with Java 8 on 2.0.5-SNAPSHOT breaks compatibility"
Hello everyone,

We need to use the 2.0.5-SNAPSHOT version because of a crucial fix, but it currently is impossible due to it being built with Java 8.

Is there any chance to not build it with Java 8 or a workaround for including on non-java8-targeting projects ?

Best

[2017-05-16 10:36] pavlospt commented on #204
Update: This was introduced in #188

[2017-05-16 10:42] charbgr commented on #192
We also have this error with Dex on 2.0.5-SNAPSHOT.

FYI we don't have Retrolambda.

[2017-05-16 10:50] digitalbuddha commented on #192
Pls submit sample project or failing test showing what is not working
correctly.

On May 16, 2017 1:42 PM, "Vasilis Charalampakis" <notifications@github.com>
wrote:

We also have this error with Dex on 2.0.5-SNAPSHOT

—
You are receiving this because you modified the open/close state.

Reply to this email directly, view it on GitHub
<https://github.com/NYTimes/Store/issues/192#issuecomment-3017442

[2017-05-16 10:57] digitalbuddha commented on #204
Any reason you cannot target 1.8?

On May 16, 2017 1:36 PM, "Pavlos-Petros Tournaris" <notifications@github.com>
wrote:

[2017-05-16 10:58] charbgr commented on #192
We get the following error:
[code]

[2017-05-16 11:12] pavlospt commented on #204
Because we would need to add Retrolambda as well if i am not wrong, which would also increase our compile time.

Generally I believe that there are a lot of projects that might be using Store and can not target Java 8 yet. It seems a bit strange to introduce such a breaking change, just for the Lambdas. Let us know if there is something else behind it :)

[2017-05-16 11:47] digitalbuddha commented on #204
Retro lambda will convert the lambdas to equivalent  byte code to anonymous
classes. AFAIK you only need to set your compatability to 1.8 you do not
need to include retro lambda

On May 16, 2017 2:13 PM, "Pavlos-Petros Tournaris" <notifications@github.com>
wrote:

[2017-05-16 12:00] pavlospt commented on #204
Adding compileOptions with source and target compatibility is not enough...

[2017-05-16 12:06] digitalbuddha commented on #204
Sorry for hassle. I'm away for few days I will absolutely fix this when
back. It should work not sure what we misconfigured

On May 16, 2017 3:00 PM, "Pavlos-Petros Tournaris" <notifications@github.com>
wrote:

[2017-05-16 12:44] digitalbuddha commented on #204
Hi Pavlos it was a misconfiguration, we need to apply retro lambda to all modules. I'll see if someone at work can fix it today. Thank you so much for reporting!

[2017-05-16 12:55] pavlospt commented on #204
Great, keep me posted :)

[2017-05-16 15:40] #190 closed, assigned to ramonaharrison

[2017-05-17 02:43] fatherOfLegends opened #212 "Interested in adding "create/update/delete" behaviors to the store?"
I have been using the repository pattern in many Android apps and I really like it. I am very excited to find this library and I am considering updating my various implementations of the pattern to use this library. One issue or rather difference I ran into was the lack of "create/update/delete" behaviors. Is this something you would be interested in?

[2017-05-17 03:12] digitalbuddha commented on #212
Create/update should only happen through a value coming from your fetcher. As for delete there is already a clear functionality. Not sure what you are asking to add?

[2017-05-17 03:34] fatherOfLegends commented on #212
I was thinking about it a little differently than that. The behaviors of "create/update/delete" apply when the client modifies data and needs to update the backing data source. Create would tell the "creator" to create a new record with the data provided. Creator implementation could be a POST request to a web service for example. Allowing operations like:
[code]

This same idea applies to update

[2017-05-17 03:36] digitalbuddha commented on #212
Oh I see what you mean. Thats a nice way to do it. Safe to assume create/update/delete would not cache or work offline or did you have some idea of how to queue requests?

[2017-05-17 03:39] fatherOfLegends commented on #212
I was thinking you would have the optional to update the cache immediately and then clean if there was a failure.

[2017-05-17 03:39] fatherOfLegends commented on #212
If offline the request would fail.

[2017-05-17 03:42] digitalbuddha commented on #212
How does updating cache work? If I make same post request again do I get cached response or does it hit server? I don't have a clear mental model of how a post could be cacheable

[2017-05-17 03:51] fatherOfLegends commented on #212
In the context of create/update/delete operations by cache I mean the same stores cache used for "get()". Let's say I have a Store for comments, I "create" a comment. The memory and/or disk cache is updated immediately with this new record. Then the creator attempts to create the record. When the creator finishes success/failure the cache is updated again.

The use case would be I post a comment a

[2017-05-17 03:58] fatherOfLegends commented on #212
Just a thought... As far as offline goes it could be another optional object that allows the implementer to define the behavior. If it is added to the store then any fetcher/creator/updater/deleter (not attached to the names) that has an error due to connectivity would call the offline-Inator to attempt to handle when connectivity is restored.

[2017-05-17 03:58] digitalbuddha commented on #212
Thank you for explaining. I believe that would be a reasonable implementation. As long as the eager update is configurable/optional I agree with your general flow. Most of our team is at io until next week. I'd love to hear others thoughts on how this should work prior to starting on implementation. Mind tabling for few days?

[2017-05-17 04:00] digitalbuddha commented on #212
For the offline stuff, I'd prefer to rely on job scheduler or some other abstraction external to the store. I think keeping queues of what to post will get messy. Particularly if a user wants multiple posts to be transactional.

[2017-05-17 04:01] fatherOfLegends commented on #212
I do not mind at all. I will be busy with I/O myself. I just wanted to get the conversation started.

[2017-05-17 07:48] pavlospt commented on #204
There is something really awkward going on with this issue.

If you try to compile the sample app with:
[code]
everything works out great. But if you try to compile it with the Snapshot that it's exactly the same, you can not build the app. I could not have tested earlier, with the Snapshot due to it not being built yet from the merged PR and I thought that it worked.

Non working dependency
[code

[2017-05-17 08:13] digitalbuddha commented on #204
Sure reopen worst case I'm home Saturday and will take a look ☺️

On May 17, 2017 10:48 AM, "Pavlos-Petros Tournaris" <
notifications@github.com> wrote:

[2017-05-17 08:40] #191 closed, assigned to nobody

[2017-05-17 08:41] #196 closed, assigned to nobody

[2017-05-17 09:20] oldergod commented on #204
I had no problem building the sample app.

![image](https://cloud.githubusercontent.com/assets/1767669/26147055/47ead146-3b2d-11e7-8a93-f0baaed640e7.png)

`./gradlew clean :app:build`

![image](https://cloud.githubusercontent.com/assets/1767669/26147112/786f3622-3b2d-11e7-8cff-249c50962a8d.png)

@pavlospt is there something else I need to change when building it?

[2017-05-17 09:22] pavlospt commented on #204
@oldergod Did you try running it ?

[2017-05-17 09:25] oldergod commented on #204
@pavlospt yes, working fine.

[2017-05-17 09:27] pavlospt commented on #204
@oldergod I am trying the same sample app and the same build command and it does not work. How is that possible :P ?

[2017-05-17 09:30] oldergod commented on #204
What error do you have? Any stacktrace to share maybe?

2017-05-17 18:27 GMT+09:00 Pavlos-Petros Tournaris <notifications@github.com

[2017-05-17 09:46] pavlospt commented on #204
False alarm eventually. I tried with:

`./gradlew cleanBuildCache` had no luck either and then I finally deleted all `.gradle/caches` and somehow it worked.

@digitalbuddha I guess you can close it now. Seems though that everyone that will possibly use the new version, might need to do the same. Might worth being a note in ReadMe or Wiki?

[2017-05-17 09:47] digitalbuddha commented on #204
We will tick version up before stable release.

[2017-05-17 09:47] #204 closed, assigned to nobody

[2017-05-17 13:42] #183 closed, assigned to nobody

[2017-05-17 20:30] digitalbuddha opened #213 "Convert store to kotlin"
Rxjava2 branch should be converted to kotlin for readability. Now that there is first class support I see no reason to continue in Java

[2017-05-17 20:57] pavlospt commented on #213
@charbgr was just thinking of forking Store and "konverting" it :P We can surely help in this area :)

[2017-05-17 20:59] digitalbuddha commented on #213
I'm waiting for the readall/deleteall pr to make it in and then we will
cherry pick it in and be ready for conversion. Thank you for offering to
help, will totally take you up on it 😀

On May 17, 2017 11:57 PM, "Pavlos-Petros Tournaris" <
notifications@github.com> wrote:

@charbgr <https://github.com/charbgr> was just thinking of forking Store
and "konverting" it :P We can surely help in this area

[2017-05-17 21:02] pavlospt commented on #213
Great, ping us when ready :D

[2017-05-18 06:53] digitalbuddha opened #215 "Spike: replace file system with Room/sql"
Now that android has a proper orm, we should Spike on depreciating our filesystem and moving to Room (new orm). It seems like you can save nested objects without having to write complex logic yourself, that was always the blocker imo to using sql.

Ideally store should be able to work with retrofit returning a pojo which is the written to and read from Room.

Alternatively we can create Room persi

[2017-05-18 07:42] pavlospt commented on #215
We have the same ideas! I was thinking though of creating a persister module with Room for starters :P

[2017-05-21 13:09] digitalbuddha opened #216 "Spike: Create DSL for Store Instatiation"
Right now we use Builders to instantiate a Store.  Jake Wharton gave a talk at I/O detailing how you can create a custom DSL using Kotlin to instantiate objects.
For reference: https://youtu.be/fPzxfeDJDzY?t=17m39s

Ideally we should be able to do something like:

val myStore = store{
    fetcher(myFetcher)
    persister(myPersister)
    parser(myParser)
}

I'm unclear how this works with generics

[2017-05-21 19:09] stoyicker commented on #213
I don't want to come to ruin the party, but my out-of-the-blue two cents: is there really a strong reason to convert the codebase to Kotlin, or even use it at all? I'm a fan of the language myself, but I wonder if the benefit it brings is worth the trade-off in this particular case. Library modules should keep the classpath as clean as possible, and even if Kotlin is now a supported language for A

[2017-05-21 20:34] digitalbuddha commented on #213
All valid points.  Some of the rational is to open up kotlin features like better DSL for instantiation and reified generic support.  It would also be nice to the the nullability types and val/var.  I guess its all nice to have instead of need to have.

[2017-05-22 10:20] sourabhv opened #219 "Getting InterruptedIOException: thread interrupted with persister"
I am getting these errors when using persister

    E: java.io.InterruptedIOException: thread interrupted
    E:     at okio.Timeout.throwIfReached(Timeout.java:146)
    E:     at okio.Okio$1.write(Okio.java:75)
    E:     at okio.AsyncTimeout$1.write(AsyncTimeout.java:179)
    E:     at okio.RealBufferedSink.flush(RealBufferedSink.java:216)
    E:     at okhttp3.internal.http1.Http1Codec.finishRe

[2017-05-22 11:17] digitalbuddha commented on #219
Seems like 2 different errors. First one is due to timeout from what I see. The second one we have a pr out to fix. #218 should fix the second one.

When are you getting the interrupted exception? Is it every request? I noticed you have stetho and other interceptors could you try without them?

[2017-05-23 05:14] ZacSweers commented on #142
Is this going to make it into 3.0?

[2017-05-23 22:33] ramonaharrison opened #224 "Update README examples for the feature/rx2 branch"
Now that we've almost finished converting Store to RxJava 2 on the `feature/rx2` branch, it would be great to give the README a thorough review and update any examples to reflect what's changed. For example:

- The `Persister` example under the "Disk Caching" header should be updated to demonstrate the new `Single`/`Maybe` return types.
- Anywhere that the `Observable` type is mentioned could use

[2017-05-24 10:52] stoyicker commented on #216
I suggest a different artifact, `store-kotlin-extensions` or something, to implement this sort of things, and then we can consider if we want to merge it into the core. In addition, I've made a DSL using Kotlin before (once :D), and I'd be glad to take care of this one if I may.
Also, for reference, another relevant video: https://news.realm.io/news/kau-jake-wharton-testing-robots/

[2017-05-26 04:23] KevCron commented on #224
I can take it. I'm assuming I would be updating the README on `feature/rx2` then?

[2017-05-26 14:20] ramonaharrison commented on #224
Sounds great, thanks for taking it on. Yes, the README updates would be on the `feature/rx2` branch.

[2017-05-30 00:15] png6 commented on #215
@pavlospt Let me know how your efforts with a persister module goes with Room. I recently tested an implementation of the persister with Room and it works however it seems difficult to come up with a generic solution. Unlike the FileSystem persister, you're dealing with the POJO entities directly and would need to provide the proper DAO. Further, depending how you ingest the data from an external

[2017-05-30 06:54] pavlospt commented on #215
@png6 Haven't had the time to start writing one yet. You can PR your solution and we can discuss upon it :)

[2017-05-31 19:08] stoyicker commented on #216
I've done a draft of how things would look wrt store building: https://github.com/stoyicker/store-kotlin-bindings ([direct link to example](https://github.com/stoyicker/store-kotlin-bindings/blob/f15b3fbc098a3ccfd5966839121fd065fe506a5b/sample/src/main/kotlin/org/jorge/store/kotlin/sample/MainActivity.kt)).
If someone takes a look and has any feedback, let me know. If all looks good I can add some

[2017-05-31 20:10] digitalbuddha commented on #216
looks beautiful! I love how you got rid of the generics in the
StoreBuilder!  I'll review tomorrow and have some comments.

On Wed, May 31, 2017 at 3:08 PM, Jorge Antonio Díaz-Benito Soriano <
notifications@github.com> wrote:

[2017-06-02 13:03] digitalbuddha commented on #219
Closed for inactivity

[2017-06-02 13:03] #219 closed, assigned to nobody

[2017-06-03 01:59] png6 opened #225 "java.lang.NoClassDefFoundError: java.nio.charset.StandardCharsets"
I ran into a crash running the latest 2.1.0 release below,

                                                                      java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
                                                                          at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:59)

[2017-06-03 02:06] digitalbuddha commented on #225
Thanks for finding! Will fix in am

[2017-06-03 18:07] png6 commented on #225
I was able to add workaround until a new release is available but luckily it's just a minor change to `Charset.forName("UTF-8")`.  I've confirmed it's working on fine on both API 16 and API 23 device.

[2017-06-08 12:42] pavlospt opened #226 "Distinguish the source of data that a Store feeds"
So the other day we were discussing with @charbgr that it would be great to know where the data from a `Store`, is coming from. It can be quite helpful in specific UI updates when loading data, e.g.: let a user know that the data she/he sees are possibly outdated :)

We suggest of adding a wrapper class that could distinguish the source for the data it holds.

This could be an `Enum` or an `IntDef

[2017-06-08 12:47] digitalbuddha commented on #226
I'm not sure this needs to be feature if store. You could always create your own Response object and set a field on it in your fetcher or persister.

[2017-06-08 12:53] pavlospt commented on #226
@digitalbuddha If this is included in Store it will be 100% that you will always know the source of data, instead of having to duplicate code in all your possible fetchers and persisters :)

[2017-06-09 09:59] Rosomack opened #227 "QUESTION: Loading status support for streams?"
I'd like our store to be able to tell its observer when a resource is being loaded.

Use case: Multiple views on screen subscribe to the same stream or refreshable. When one of the views calls `fetch()` the other views subscribed to the same observable should be notified that the resource is being loaded so we can display some sort of loading indicator.

I suppose one way of doing this would be to

[2017-06-09 11:13] trolik commented on #181
If we don't use persister it still does not work, because persister() is NoopPersister in RealInternalStore readDisk(@Nonnull final Key key, final Throwable error) method
and NoopPersister method look like this

public Observable<Raw> read(@Nonnull Key key) {
        Observable<Raw> cachedValue = networkResponses.getIfPresent(key);
        return cachedValue == null ? Observable.<Raw>empty() : cac

[2017-06-09 11:20] digitalbuddha commented on #181
Good catch. I'm not sure if I will have time to look today but it seems like NoOp persister needs to be made smarter by being away of the stale policy. I'll make the necessary changes this weekend.

[2017-06-09 11:31] digitalbuddha commented on #227
I've had similar idea to you of propagating state during loading. I haven't had time to this this functionality but it is something I'm interested in. I think it's reasonable for stream/refreshing to encapsulate itself in a wrapper that emits.

I would prefer not to do this feature on the current development branch as we are depreciating the current develop branch shortly in preparation of our rel

[2017-06-09 11:32] digitalbuddha commented on #226
#227 also wants wrapping to emit state. Maybe we can take both requests up on the rx2 branch prior to first real release of it.

[2017-06-09 11:40] digitalbuddha commented on #215
One suggestion is to have dao implement persister and then pass the dao as the persister to store.

[2017-06-09 11:40] digitalbuddha commented on #213
Closing as a good reason has not been established as to why.

[2017-06-09 11:40] #213 closed, assigned to nobody

[2017-06-09 11:44] digitalbuddha commented on #216
I like your implementation. Any chance you want to get it on maven proper so I can use it without jitpack, we can link it from Readme ☺️

[2017-06-09 11:45] stoyicker commented on #213
just a quick-add, I'd be happy to 'donate' the bindings library if you guys want to put it in this repo and distribute it in a way more aligned than the rest of the artifacts (instead of for example jitpack).

[2017-06-09 11:49] digitalbuddha commented on #213
Yes that would be great. Would give others an opportunity to add more kotlin extensions too. Want to make a new module as a pr?

[2017-06-09 12:10] stoyicker commented on #213
sure! I'll also take the chance to add some tests for what's there already

[2017-06-09 12:37] Rosomack commented on #227
Makes perfect sense to do it across the board, agreed.

Thanks for your reply. Do you have a timeline for the rx2 release?

[2017-06-09 12:38] digitalbuddha commented on #227
We need to update docs and now do the. Hopefully within the month.

[2017-06-09 15:39] Rosomack commented on #227
Happy to help out with this feature. We think your library will fit our current needs very well, so I have a vested interest :)

[2017-06-13 15:45] nbhaohao opened #228 "a small mistake in README.md"
In README.md , I guess It is a small mistake in this code .
![barcode](https://user-images.githubusercontent.com/23535619/27091061-9bd4e03e-5091-11e7-9629-cd5863260c49.png)
I think  change ` Store<ArticleAsset, Integer>` to `Store<ArticleAsset, BarCode>`  is right .
besause StoreBuilder create a Store<ArticleAsset,BarCode>

[2017-06-13 18:20] stoyicker commented on #216
Following the conversation from #213 since it's more appropriate here I guess: I'm having some problems wrt to tests: I want to write a custom `equals` for the tests as an extension function of `RealStore` that delegates (eventually) to `RealInternalStore` and compares its parser, cache, etc. However `internalStore` in `RealStore` is private, and I would like to avoid using reflection. Can I inclu

[2017-06-14 16:01] Rosomack opened #230 "QUESTION: refreshable resource subscribers to stay subscribed after error"
Hi again :)

We're trying out Store now and ran into an issue. It's not possible to make refreshable subscribers stay subscribed after it emits an error.

Use case: 4 views subscribe to the same data, an error is received and displayed on all of them. When we press retry on one of the views (invoking `store.clear()`), all 4 views should receive updated data when it's successfully retrieved.

We tr

[2017-06-14 18:01] dhenry commented on #172
Hey, do you have an update on this?

[2017-06-15 10:42] digitalbuddha commented on #172
Pr was merged last night. I'll add documentation for use this weekend.

[2017-06-15 14:08] stardeux opened #231 "QUESTION : LiveData compatibility"
Hi,

Do you have any solution to use Store with the brand new LiveData Android object rather then Observable ?
https://developer.android.com/topic/libraries/architecture/livedata.html

Otherwise are you planning to offer this possibility ?

Thanks !

[2017-06-15 14:33] digitalbuddha commented on #231
I'm still fairly green in live data but my understanding is that you can transform an rx observable into a live data stream.

[2017-06-15 14:51] digitalbuddha commented on #230
We're going to give this issue some thought.  Thank you for reporting

[2017-06-15 14:51] digitalbuddha commented on #228
yup! want to pr a fix?

[2017-06-15 15:10] dhenry commented on #172
👏  Thanks thats great news!

[2017-06-17 06:10] MuBoori opened #232 "new version 2.1.0 is broken"
Hi, I just found out about the library. I'm trying to run the demo code provided however, it does not work.

I tried to follow the readme instruction but I cannot get anything running. Here is the code I tried

[code]
I get the below message however, I tried to downgrade the library to 2.0.0 and the code works.

[code]

[2017-06-17 15:00] digitalbuddha commented on #232
This is a bug in googles desugar tool. If you use Retrolambda for your app it will go away. Alternatively you can follow the tracker seems they identified the problem and are going to fix https://issuetracker.google.com/issues/62456849

[2017-06-17 16:55] #228 closed, assigned to nobody

[2017-06-17 18:06] MuBoori commented on #232
@digitalbuddha Fantastic I installed retrolambda and now it works
https://github.com/evant/gradle-retrolambda

[2017-06-17 18:13] digitalbuddha commented on #232
I'll update this issue once Google fixes problem on their side

On Jun 17, 2017 2:06 PM, "Mujtaba Alboori" <notifications@github.com> wrote:

[2017-06-17 18:13] #232 closed, assigned to nobody

[2017-06-21 20:55] digitalbuddha commented on #230
I think you did hit on a weird behavior with us creating a new Error Observable.  We can change https://github.com/NYTimes/Store/blob/develop/store/src/main/java/com/nytimes/android/external/store/base/impl/RealInternalStore.java#L204 to instead propogate the throwable  through the original stream rather than creating a new errorObservable not sure if that would solve your problem though.

After w

[2017-06-21 21:11] Rosomack commented on #230
Amazing, that should work I think, but I'm not sure it would solve it
either. I experimented a bit with my own fork where I removed the
`onErrorResume` call and it didn't help... But maybe I messed something
else up.

Thanks a lot for your hard work!

śr., 21 cze 2017 o 21:55 użytkownik Mike Nakhimovich <
notifications@github.com> napisał:

[2017-06-21 21:43] digitalbuddha commented on #230
I'll have one of our engineers play with it in am. Thank you for using our lib, the getRefreshing was a late addition and has some unexpected behavior that we'll find a solution for 😀

[2017-06-27 10:51] trolik commented on #181
Any news?

[2017-07-01 14:23] digitalbuddha commented on #181
Sorry totally forgot to fix the no persister behavior. Made a note to do first thing Monday morning

[2017-07-04 15:46] NaikSoftware opened #235 "How to update object in cache"
[code]
And when I receive event that some poll changed  and I have this poll, I want to insert updated object in Store, without retrieving from server. It is possible?

[2017-07-04 17:03] NaikSoftware opened #236 "Custom persister without write (only for read from DB)"
[code]
Problem: when Event stored in my DB its worked, but if no - I want just fetch from rest or memory. How to achieve this?

Logs:
[code]

What I need:
[code]

[2017-07-04 17:11] digitalbuddha commented on #236
I'm not sure what you are asking. If you don't want it to ever return something from persister then don't have a Persister or don't save within your persister.

[2017-07-04 17:13] digitalbuddha commented on #235
Currently there is no way to update something in store memory yourself. We believe unidirectional data flow leads to less errors and this would break that concept. You could always call store.frwsh again and return the new value from your fetcher

[2017-07-04 17:15] NaikSoftware commented on #236
@digitalbuddha I want to return from DB if exist (and cache in memory), otherwise fetch from rest (and cache in memory)

Because some objects synchronized in Realm database, others not. I want use this library for getting from Realm or loading from REST and caching in memory.

At now without Store lib its looks as:
1. Get from SparseArray cache - if exist return
2. Get from Realm - If exist store

[2017-07-04 17:26] NaikSoftware commented on #236
Possible solution
[code]

[2017-07-05 08:32] #235 closed, assigned to nobody

[2017-07-05 21:58] digitalbuddha commented on #236
yup your solution works.  You can use your fetcher to first check our DB and then go to your network.

[2017-07-05 21:58] #236 closed, assigned to nobody

[2017-07-05 21:58] digitalbuddha commented on #231
closing due to no action to take

[2017-07-05 21:59] digitalbuddha commented on #230
Working on tests but we seem to have a solution that will allow you to call `retry` & `retryWhen` on a `getRefreshing` observable.

[2017-07-05 22:00] digitalbuddha commented on #227
We haven't had a chance to look into this issue ourselves but would be open to an external contributions.  Ideally this would be done in a manner where it can be a separate module or by adding minimal bloat to those that do not want this feature

[2017-07-05 22:00] digitalbuddha commented on #226
close as dupe of #227

[2017-07-05 22:04] digitalbuddha commented on #215
closing due to not really being an issue.

[2017-07-05 22:04] #215 closed, assigned to nobody

[2017-07-05 22:05] digitalbuddha commented on #216
closed by #229

[2017-07-05 22:05] #216 closed, assigned to nobody

[2017-07-05 22:06] #181 closed, assigned to digitalbuddha

[2017-07-05 22:07] #174 closed, assigned to nobody

[2017-07-05 22:07] #172 closed, assigned to nobody

[2017-07-06 13:18] #225 closed, assigned to nobody

[2017-07-07 17:27] sanchay-nyt commented on #227
@digitalbuddha and @Rosomack please let me know if you need any additional help. Will be happy to help

[2017-07-08 16:02] ychescale9 opened #240 "Clearing cache / disk without refresh"
Currently calling `store.clear()` or `store.clear(key)` calls `notifyRefresh(key);` at the end which triggers network calls.

Is there a way to clear the cache and disk without triggering refresh?

My use case is I want to clear all data in cache and disk after each of my espresso tests (by clearing the injected store instances in my test classes).

Any direction would be appreciated. Thanks!

[2017-07-08 16:07] digitalbuddha commented on #240
AFAIK the only time the refresh of network is triggered is when you are subscribed to `getRefreshing` otherwise there are no subscribers that get notified to repeat the fetch.

[2017-07-08 16:44] ychescale9 commented on #240
Thanks Mike.

[2017-07-08 16:44] #240 closed, assigned to nobody

[2017-07-09 05:26] ychescale9 opened #241 "Missing GsonAdaptersModel in SampleApp"
The file `com.nytimes.android.sample.data.model.GsonAdaptersModel` which `SampleApp` uses seems to be missing (at least in develop).

[2017-07-09 05:39] digitalbuddha commented on #241
It is auto-generated using immutables.org annotation processor when you compile for the first time.

[2017-07-09 05:39] #241 closed, assigned to nobody

[2017-07-10 15:47] spencergriffin commented on #224
What is the status of the feature/rx2 branch?

[2017-07-10 17:17] digitalbuddha commented on #224
It is feature complete and functional. See Readme for artifacts. We are waiting to update docs prior to flipping as the main branch

[2017-07-10 17:20] KevCron commented on #224
My apologies, went to Japan and completely forgot about this. Will update
tonight.

On Mon, Jul 10, 2017 at 1:17 PM, Mike Nakhimovich <notifications@github.com>
wrote:

--
Kevin Cronly
New York University | Computer Science and Statistics
kevin.john.cronly@gmail.com
201-398-8671 <(201)%20398-8671>
https://www.linkedin.com/in/kevincronly/

[2017-07-11 05:03] KevCron commented on #224
I'm mostly done, but I'll push tomorrow. I think the latest macOS update screwed up my git access, can't push anything to Github for some reason.

[2017-07-11 08:35] FlorentDambreville opened #242 "Moshi Converter isn't working"
Hello,

I am not sure if this is an issue or if I am doing things wrong but I am unable to convert a BufferedSource (used for persistency) into my business class (Pollen) using 3.0.0-alpha Store version...
I am also using Kotlin, Retrofit & Moshi.

My StoreBuilder is the following :
[code]

My Retrofit builder is the following :
[code]

The error I get is the following (sorry for the huge block) :

[2017-07-11 13:55] FlorentDambreville commented on #242
Fixed my problem by telling retrofit that I am expecting a ResponseBody instead of a BufferedSource directly.

Sorry for the inconvenience

[2017-07-11 13:55] #242 closed, assigned to nobody

[2017-07-11 14:55] digitalbuddha commented on #242
you can also add a `BufferedSourceConverterFactory` to your retrofit instance

[code]

[2017-07-12 07:37] FlorentDambreville commented on #242
Great thank you I'll do that !

[2017-07-16 14:58] stoyicker opened #248 "Missing moshi parser for 3.0"
(and probably others as well, haven't checked)
Right now you can't use a moshi parser with a store3 parser because the parser it provides is not under the store3 package. I will try to prepare a pr during the week.

[2017-07-16 16:47] stoyicker commented on #248
Nevermind, just saw it's fixed already, just not published quite yet. Will there be more pre-releases from that branch before it gets merged into master?

[2017-07-16 16:49] stoyicker commented on #248
Actually, nevermind that at all, I was not using the middleware-moshi3 artifact.

[2017-07-16 16:49] #248 closed, assigned to nobody

[2017-07-19 22:08] digitalbuddha opened #249 "Deprecate Store in favor of Store3"
We have been incubating the rx2 branch for a few months and have not seen any bug reports come in. As our internal codebase has switched to rx2 we are flipping https://github.com/NYTimes/Store/tree/feature/rx2 to instead be the master branch at some point next week.  This means that Store3 will be the only artifacts we support going forward.  We will also be making 1 final release of Store(1) as t

[2017-07-20 11:20] #180 closed, assigned to nobody

[2017-07-20 11:21] #167 closed, assigned to nobody

[2017-07-24 12:51] Rosomack commented on #227
@digitalbuddha @sanchay-nyt Unfortunately looks like we're putting off implementing the caching layer in our project. This means that I probably won't have the time I thought I would for implementing this in the near future. Will let you know if that changes, but definitely not over the next couple of months!

[2017-07-24 16:00] digitalbuddha commented on #142
Rather than hacking a solution together we have introduced SourceAllPersister which allows you to make to use barcodes with new Barcode(category,value) and then do persister.readAll(category) or persister.deleteAll(category).  We will be adding an example to the sample projects shortly.

[2017-07-24 16:00] #142 closed, assigned to nobody

[2017-07-24 16:04] #224 closed, assigned to nobody

[2017-07-24 16:07] digitalbuddha commented on #227
Here's what I was thinking from an implementation standpoint:
We introduce a new subject you can subscribe to `loadingSubject` then anytime we make a network request we can propogate a key  through this `loadingSubject` users are then free to combine or use the `loadingSubject` and `stream/get` in any way they want.  I can see a use case of a loading indicator being subscribed to `loadingSubject`

[2017-07-24 16:31] #230 closed, assigned to nobody

[2017-07-24 16:32] #203 closed, assigned to digitalbuddha

[2017-07-26 15:23] #112 closed

[2017-07-27 03:15] #249 closed, assigned to brianPlummer, digitalbuddha

[2017-07-27 03:16] #226 closed, assigned to nobody

[2017-08-03 11:59] mrmitew opened #262 "Bunch of java.lang.NoSuchMethodError exceptions"
Hello,

First of all, I want to thank you for the great library and thorough documentation! You did an amazing job. Hands down :)

Now to the problem...unfortunately, when I call `.get()` or `.getRefreshing()` on my store, I am getting the following exceptions:

Here's my gradle configuration:
[code]

[2017-08-03 12:03] digitalbuddha commented on #262
Let me guess. You're using the new built in desugar?

[2017-08-03 12:06] mrmitew commented on #262
Yeah, I am using the java 8 lang features without retrolambda. Is that the problem?

[2017-08-03 12:25] digitalbuddha commented on #262
Yup! I've reported the bug to Google. There was a bug in the built in lambda desugar in android gradle tools 3.0. If you add Retrolambda it works fine. Google will have a fix out in next few versions https://issuetracker.google.com/issues/62456849

[2017-08-03 12:28] mrmitew commented on #262
That totally fixed the problem, indeed! Thanks @digitalbuddha. I will stick with Retrolambda until the bug fix  is released then. Thanks a bunch! Probably a good idea will be to mention about this problem in the repo
s README for other people like me?

*EDIT*: Is there any other reason you are still sticking with Retrolambda, by the way?

[2017-08-03 12:35] #262 closed, assigned to nobody

[2017-08-03 12:35] digitalbuddha commented on #262
Nope! Feel free to pull it out. But since old artifacts still had it figured we need the fix from Google anyway

[2017-08-03 12:43] mrmitew commented on #262
Gotcha! Looks like we should expect the fix in the next alpha release (3.0.0-alpha10).

PS: Thank you for the quick responses!

[2017-08-05 09:04] PaulWoitaschek commented on #230
This is a breaking change that caused many crashes in my app. :(

Before, onError was called an `IOException` or `HttpException`. Now it's wrapped in an RuntimeException, but I didn't catch that.

[2017-08-05 10:44] digitalbuddha commented on #230
Ouch sorry for that. 🙁 totally missed the exception signature change. That's for bringing up not sure of we can or should do anything now.

[2017-08-05 11:37] PaulWoitaschek commented on #230
It makes error handling now quite difficult as it's no longer the same error as the source observable.

For now I created an `Observable` that maps the exceptions:

[code]

and is applied after `get` and returns the cause of the throwable if there is one - or the throwable itself if there is none.

[2017-08-05 13:27] digitalbuddha commented on #230
Mind opening an issue?

On Aug 5, 2017 7:37 AM, "Paul Woitaschek" <notifications@github.com> wrote:

[2017-08-05 20:39] PaulWoitaschek opened #263 "2.1.2: Exceptions get wrapped"
As a follow up of #230

In 2.1.1, when the source Observable called `onError` the same error was delivered to the stores `.get()`.

Now, the error handling became quite difficult as it's no longer the same error as the source observable. It's wrapped in a RuntimeException.

This broke my app because it expected `IOExceptions` and `HttpExceptions` in mutliple places but now I faced mulitple crashes

[2017-08-07 13:32] JolandaVerhoef commented on #227
We encountered a similar issue with our caching layer and I actually came to this repo to see how you solved it. Too bad to see you haven't yet :)

In our app, each UI component is responsible for retrieving its own data. Sometimes this leads to a situation where the same data is retrieved at the same time by two different UI components. When you can't figure out if the data is already being reque

[2017-08-10 21:22] digitalbuddha opened #265 "Upgrade to Gradle Tools Plugin 3.0 Beta"
- [ ] Upgrade Gradle & Gradle Tools
- [ ] Remove Retrolambda
- [ ] Change dependencies to implementation + api configuration from compile

Easy github points if anyone external wants to do this :-)

[2017-08-11 07:37] stoyicker commented on #265
I love me some github points :P will have a go at it

[2017-08-17 17:48] #265 closed, assigned to nobody

[2017-08-19 09:42] Exerosis commented on #212
Don't mean to be pushy, but any update here? This is a beautiful idea! I foresee some problems, but I'm still relatively new to Android so these might be obvious. Take this example, a user finishes typing up a comment and adds it, I call store.set(comments.add(comment)) or something like that. This immediately triggers my getRefreshing() and my layout is updated with the new comment. Then the post

[2017-08-19 16:14] digitalbuddha commented on #212
Thank you for the kind words! The problem is that we don't need this feature internally and as a result don't currently have the time to allocate to implementing. For at least the foreseeable future this is not something we will be adding. We did make the store highly extensible and based on interfaces, if someone wants to make a Poster that goes along with Store we would be able to open up any ad

[2017-08-19 21:06] Exerosis commented on #212
Ah I understand, perhaps I will take a stab at it! Thanks for getting back to me so quickly.

[2017-08-25 19:27] saket opened #270 "Suggestions for controlling disk cache size?"
Hey folks, is it possible to set a max size on the cache rather than setting a time based expiry policy?

[2017-08-25 19:39] digitalbuddha commented on #270
On the memory cache yes, on disk not currently. We made the store primarily a series of interfaces that you need to implement. The current FileSystemPersisters implementations are just our use case to serve as examples,  but if you write your own persister implementation you can implement RecordProvider in any manner you see fit. When  a store checks for staleness it will delegate back to your imp

[2017-08-25 19:39] #270 closed, assigned to nobody

[2017-08-25 19:46] pavlospt commented on #270
FileSystem could expose size information by checking all KeyResolvers associated possibly? Then have FilerSystem apply a Staleness policy and either clear according to lastmodified or just decline to write new cache records?

[2017-08-25 19:48] digitalbuddha commented on #270
Keys aren't guaranteed to have any association. If in your app they do then the implementation of this would be trivial.

[2017-08-25 19:56] pavlospt commented on #270
Any association with what?

[2017-08-25 21:25] saket commented on #270
The problem with staleness policy is that it's only checked when a new request is received with the same key. In my use case, I don't want my disk cache to ever expire but I also want to ensure it does not grow to a huge size. What other options do we have?

[2017-08-25 21:36] digitalbuddha commented on #270
Sounds like you should have your persister be a disk lru cache. Also easy to hook into store ☺️

[2017-08-31 09:31] RikNorakomi opened #271 "GsonAdaptersModel missing"
Trying to build sample app from develop & Rx2 branches but both are missing GsonAdaptersModel..

[2017-08-31 10:28] digitalbuddha commented on #271
That class gets generated when you build.

[2017-09-06 15:01] #271 closed, assigned to nobody

[2017-09-15 16:33] sanogueralorenzo opened #273 "Improve Sample app"
Some suggestions, I would be happy to help in some of them if needed:

1. Sample app has currently 2 activities and one of them is completely unused.

2. Comments in several parts of the App would be appreciated.

3. You need to check the readme while looking the Sample app to figure things out and even when doing so readme has things like getArticleAsBufferedSource but nothing like that can't  be

[2017-09-15 16:57] digitalbuddha commented on #273
Sorry for the terrible state of the sample it never received attention went we released store3.

I will fix 1,2,3 as for 4 I'm not sure what you mean, sorry mind explaining in more detail?

5, at the bottom of the Readme there is a community project in kotlin. Also the sample cat app and 360andev talk near bottom is a kotlin project.

6. Yes persister is the disk caching

7. Yes

8 need to be fixe

[2017-09-15 17:50] sanogueralorenzo commented on #273
Hello and thanks for the fast response!

No worries! Hope my suggestions and myself can contribute to the Sample project of Store.

4 and 6 are kind of related. I will try with 4 again: Is only 1 persister required for all of the stores? Does the persister just stores in cache the response bodies of all of the different apis (with keys) so when you want to get something from cache you are just par

[2017-09-15 19:59] digitalbuddha commented on #273
Yup you can use the same `Persister` implementation across multiple stores.  If you use our `FileSystem` based persister implementations it does in fact store the raw response json on disk.  You can also build your own persister as well that can work with any input type and output type you see fit. I've seen apps that use Retrofit, no parser and their own   `SqlPersister` which works on java objec

[2017-10-04 16:31] afaucogney opened #274 "Fetch a store with a webservice that return a whole store insead of a single store unit"
Let have a strore

`mProductCatalogStore: Store<Product, String>`

and the API

[code]

When I init the store,

    init {
        productCatalogStore = StoreBuilder
                .key<String, Product>()
                .fetcher({ id ->
                    mPickingApi
                            .create(ProductApi::class.java)
                            .getProduct(id)
                })

[2017-10-05 10:01] stoyicker commented on #274
Store instances can only encompass one of the calls to your API because the mapping store to fetcher is 1:1. You need a different store for the use case you describe, since it uses another method of your API. That would be something like:

[code]
You probably want to not to recreate the api in every store also, but that's another topic.
Finally, since you're using Kotlin, I'll take the chance to r

[2017-10-07 19:13] magillus opened #275 "RealStore with Fetcher<Raw,Key> , Persister<Parsed,Key> and Parser<Raw,Parsed> ?"
I have use case where the RealStore constructor would be needed:
Current code:
[code]
I would like to add:

[code]
What I would expect from such store is to fetch from Fetcher `Raw` and parse with `parser` then store with `parsedPersister` also fallback (optional) `responsePersister`  - like file

the `parsedPersister` could be db storage that the requested data would parse and update.

My current

[2017-10-09 09:50] sevar83 commented on #215
Hey guys, any plans about Room?

[2017-10-12 06:13] rinav opened #276 "How to retry on encountering 401 error, with refreshing token"
Thank you for the amazing library.

We have started to implement Store and are stuck with the following scenario.
How to handle token expiration returned by HTTP status code 401, when using a fetcher to fetch new 'Topics'.
Basically I would like to catch 401 status code and send a new network call to refresh token, get new one and save it locally and finally retry the same call.

I am able to dete

[2017-10-12 06:51] Aneeshassa commented on #276
I am facing a similar issue, can you guide me how to deal with it.

[2017-10-12 09:03] stoyicker commented on #276
This isn't something to take an action on at the Store-level, but at the OkHttp one: https://square.github.io/okhttp/3.x/okhttp/okhttp3/Authenticator.html

Pass an Authenticator to your Retrofit OkHttp client that refreshes your token.

[2017-10-13 01:12] digitalbuddha commented on #276
Does the link above solve your problem? Ideally you are using okhttp which can manage authentication for you. I don't believe that should be handle by your repository/Store but rather your network client. If not using okhttp is there another way you can write an interceptor to validate responses and reauthorize?

[2017-10-13 01:12] #276 closed, assigned to nobody

[2017-10-13 01:25] digitalbuddha commented on #275
That one is tricky since it will break/fork the internal logic of how stores work, currently the data flow is to parse any source coming from network or disk. The reason for this is to allow streaming from network clients to disk.  To add this feature we would need to someone restrict the streaming api.  Since a fetcher's return is an `Observable` I think your best bet is to do what you are doing

[2017-10-13 01:26] #275 closed, assigned to nobody

[2017-10-13 01:28] digitalbuddha commented on #274
Did @stoyicker answer your question? if not please restate

[2017-10-17 00:01] magillus commented on #275
Thank you for response, I see the reason for it.
That is what I do right now, my Fetcher wraps network layer fetcher and parser.

[code]

and calling `RealStore<Parsed, Key>(networkFetcher:BaseFetcher<Parsed, Key>, dbPersister: Persister<Parsed, Key>)`

[2017-10-17 00:37] digitalbuddha commented on #275
Yup thats it!.  We'd happily accept a PR for your BaseFetcher renamed as ParsingFetcher.  I think others would  love an api thats something like
[code]

[2017-10-17 12:13] DevDCorp opened #277 "FATAL EXCEPTION: RxCachedThreadScheduler-1"
I have downloaded and run your demo from git by using following url

but  loadPosts() of this demo give following exception, so please help me , i got stuck in this exception.

com.nytimes.android.store.sample E/AndroidRuntime: FATAL EXCEPTION: RxCachedThreadScheduler-1
                                                                                Process: com.nytimes.android.store.sample, PID: 2

[2017-10-17 12:15] DevDCorp commented on #277
Following line give the exception:-

  this.persistedStore
                .get(awwRequest)
                .flatMapObservable(this::sanitizeData)
                .toList()
                .subscribeOn(Schedulers.io())
                .observeOn(AndroidSchedulers.mainThread())
                .subscribe(this::showPosts, throwable ->
                        Log.e(StoreActivity.class.getSimpleName()

[2017-10-17 12:17] DevDCorp commented on #277
My android studio details:-

android studio version:- 2.3.3
gradel dependency:-   classpath 'com.android.tools.build:gradle:2.3.3'

[2017-10-18 19:23] #274 closed, assigned to nobody

[2017-10-19 09:26] passsy opened #278 "iOS implementation"
Just curious if NYTimes is using the same architecture for iOS and if so it would also become an open source project.

Thanks for the hard work!

[2017-10-19 10:59] digitalbuddha commented on #278
We are not, iOS is not reactive at nyt. Sounds like a neat project for someone to port over.

[2017-10-19 10:59] #278 closed, assigned to nobody

[2017-10-23 12:11] digitalbuddha commented on #277
We need to fix the sample app, seems to be outdated, duplicate of #273

[2017-10-23 12:11] #277 closed, assigned to nobody

[2017-10-27 16:05] aitorvs opened #281 "Question about get() method"
I was taking a look at this fantastic library and I got a bit confused with the behavior of `get` method.
My example is quite simple. Single activity that fetches pics from Flickr.

In the `MainActivity` I have the following code (in `onResume()`):

[code]

The Store is created as:

[code]

And the key is an object `PhotoRequest` that is basically as the following:

[code]
The app fetches 20 items

[2017-10-27 16:25] alexio commented on #281
Not sure why it would be returning all the previously fetched items for when the key has a `page() == 3`. We don't append responses to each other. Which Flickr api are you using? I'll try to duplicate it on my end.

[2017-10-27 16:36] aitorvs commented on #281
My apologies! Just debug my sample app and it was a bug in my adapter :D

I will close the issue!

[2017-10-27 16:36] #281 closed, assigned to nobody

[2017-11-05 10:44] PaulWoitaschek opened #284 "RecordState Ignored"
I tried to implement the persister.

At first access, my database has no entries. So I return `RecordState.MISSING`.

I expect the store to make a request in that case. But instead it calls my persister (which returns an empty list as there are no entries yet) and delivers the empty list.

[2017-11-05 13:11] digitalbuddha commented on #284
You're right it's not working as expected, seems like stale is being handled correctly but not missing. I'll take a look tonight. Thank you for reporting.

[2017-11-07 20:32] fabioCollini opened #285 "Shared disk cache"
I am using many stores with a disk cache, usually I define the `PathResolver` as a `toString` of the parameters. Using this pathResolver there is an error when two stores use the same input parameter. This case can happen, for example in my app I have a store to retrieve the weather condition and another to retrieve the forecast, both stores have the city as input.
The problem can be reproduced us

[2017-11-08 18:48] ramonaharrison commented on #284
It looks like an appropriate way to handle this could be by returning `Maybe.empty()` from `RealInternalStore#disk` when the persister is a `RecordProvider` with `RecordState.MISSING` -- this would trigger the store to switch to `fetch()` before calling the persister.

We could add a helper method for this to the `StoreUtil` class, similar to the existing method for determining if the persister is

[2017-11-17 17:04] jasennett opened #287 "No way to clean up Store instance that cancels pending requests"
If a store instance is no longer needed there's no way to tear it down without leaving any outstanding inflight requests running.  Currently `clear()` invalidates inflight requests, but doesn't cancel the actual network request.  Ideally there would be a way to destroy a store that also cancels those requests.  Might be a little challenging to add because the rx `cache()` operator that the store i

[2017-11-17 17:27] aitorvs opened #288 "QUESTION: inter-op with Kotlin"
I flagged this as a question as I am not sure it is an inter-op issue with Kotlin.

I have created a very simple `Store` in Kotlin like this

[code]

*NOTE: The `ResourceViewState` is a `sealed class` but here this is not important*

I am trying to use the store with this code:

[code]

To my surprise, only the first `doOnNext` is logged, and nothing else.

Do you know why this might be?

Thanks a

[2017-11-17 17:31] digitalbuddha commented on #287
Hey this one is a bit tricky, I'm not opposed to it just not sure how to implement currently. Open to suggestions :-)

[2017-11-17 17:52] digitalbuddha commented on #288
I'll look at it a bit later, not sure what the issue is, definitely not kotlin as we use it with store all the time.  I think it might have smth to do with store returning a single which has a terminal operator after 1 emission

[2017-11-17 18:16] aitorvs commented on #288
Thanks a lot!
I pointed to Kotlin because I had used that pattern in Java and worked just fine O_o
But I can't figure what is wrong here.

[2017-11-17 18:26] santoshag commented on #215
@digitalbuddha any plans to support Room now that stable 1.0 is released?

[2017-11-17 18:29] digitalbuddha commented on #215
It's supported you need to make a Persister pointed to your roomDAO. I was working on a sample but got lazy. Will revive it

[2017-11-17 18:35] santoshag commented on #215
From the discussion above about DAO implementing Persister and passing that at store creation, I thought that the library has to provide additional support for dao. Please post a sample whenever you get a chance, it would be very helpful. Thanks!

[2017-11-17 20:56] pavlospt commented on #288
@aitorvs do you have a repo with a repro of the issue so that we could debug it?

[2017-11-17 22:57] sevar83 commented on #288
Try with:

`.startWith(ResourceViewState.Loading())`. This thing bit few times.
Lost several hours to figure out the stupid brackets were the mistake.

On Fri, 17 Nov 2017 at 22:56 Pavlos-Petros Tournaris <
notifications@github.com> wrote:

[2017-11-18 07:40] aitorvs commented on #288
@sevar83 Thanks a ton! didn't even see those damn brackets O_o

Thanks to all too. And sorry for raising the issue!

[2017-11-18 07:40] #288 closed, assigned to nobody

[2017-11-18 09:07] sevar83 commented on #288
This is a really nasty little thing. There was a discussion on Reddit
specifically about it. But couldn't find it.

On Sat, Nov 18, 2017, 09:40 Aitor Viana <notifications@github.com> wrote:

[2017-11-18 11:38] pavlospt commented on #288
@sevar83 you are totally right. We had that in the past as well. There should be a Lint check or something for it !!

[2017-11-20 15:10] StefMa opened #291 "Persister & Fetcher accessable in Store-Interface"
Currently we developing some architecture we we put two stores and a fetcher into another class.
Which reads like that:
[code]

Which reads a little bit odd because the `notLivePersister` is **already a part** of the `notLiveStore`.

So, what do you think to add
[code]
to the Store-Interface? 🤔
Maybe we can also add the Policy and the Parser, but that is not important as the two others IMO 😅

What

[2017-11-20 16:58] jasennett commented on #287
Yeah, it is a bit tricky because of the `cache()` operator not providing a way to dispose the source subscription.  Two potential ways to get around this that I can think of:

1. Extend Rx's `Single` like [`SingleCache`](https://github.com/ReactiveX/RxJava/blob/2.x/src/main/java/io/reactivex/internal/operators/single/SingleCache.java), but instead of [ignoring the source disposable](https://github

[2017-11-22 22:14] digitalbuddha opened #292 "Allow seeding of store cache."
It would be  nice to have a store api to allow writing to the disk and memory cache. Something like store.fill(value).  Value must be of same type as fetcher returns.

[2017-11-23 10:16] riclage opened #293 "readAll() is not resilient to exceptions reading a single file"
The current `readAll()` implementation in `FSAllReader` fails if there is an exception reading a single file in the path. In this code:

[code]
If an exception occurs on a `fileSystem.read(s)`, then the whole chain will stop with an onError emission preventing us from getting subsequent files on the `path`.

One way around it, I think, would be to wrap the read in a `flatMap()` and emit an empty o

[2017-11-23 15:10] digitalbuddha commented on #293
Yup sounds like a great solution. Want to pr it in with some tests?

[2017-11-23 15:19] digitalbuddha commented on #291
There is an interface InternalStore, you can expose those getters as public from RealInternalStore and then cast your store. Pr welcome 🙂

[2017-11-23 15:23] digitalbuddha commented on #287
Great ideas! Let me digest over the weekend. In theory I like 2's simplicity but maybe we can do in a defer fashion.  alternatively we can change the inflight architecture in general.

[2017-11-23 15:37] digitalbuddha opened #294 "Create Payload Store"
Stores are great but they are currently dependent on getting data from a network. I'd like to make a new type of store, this store can be used for events or for pushing your own payload through.

Example of a state store.

[code]

The thinking is that you should be able to use a store to make a reactive session/state management flow.  Everyone has access to a store to push a new state into it, the

[2017-11-24 10:09] riclage commented on #293
Cool, thanks. Yes, I will try to do one.

[2017-11-27 00:04] digitalbuddha opened #295 "Add reified types as kotlin parser extensions"
Currently the api for creating a middleware parser is clunky. When creating a parser one must pass both a generic of the type as well as a class token.  With kotlin we can created a better version of the middleware parser factories which take advantage of reified types. This would allow a user to only have to pass a generic without needing to also need to pass in a Class

[2017-11-28 17:19] alexio opened #297 "Test Issue. Ignore."

[2017-11-28 17:19] #297 closed, assigned to nobody

[2017-11-30 19:07] juicycleff commented on #231
Hello in interested in this. So i think it should be open

[2017-11-30 19:10] juicycleff commented on #231
Live data demo should be implemented as its looks like the defacto for now

[2017-11-30 19:13] digitalbuddha commented on #231
I don't think live data works well for store. Live data only deals with positive results which means you cannot pass an error through. In general nothing is stopping you from converting the observable coming out of store into a Flowable and then into a live data.

[2017-11-30 22:57] santoshag opened #298 "Question: isn't fetch() supposed to fall back to cache if network not available"
If the user has data available in cache and if we make the ```fetch()``` api call when there is no network, isn't fetch supposed to get data from cache rather than throwing an exception?
If not, do you have any suggestions to accomplish this?

[2017-11-30 23:16] digitalbuddha commented on #298
What you are describing is not the default behavior but you can achieve similar functionality using an rx operator to swap in a get call when a fetch fails
[code]

Let me know if this works for you :-)

[2017-11-30 23:44] santoshag commented on #298
After thinking for sometime, I realized why it is the way it is. We instead used a network helper implemented previously to check for network availability before doing ```fetch()```.
The scenario is for user login data, we always want to fetch from network first, if not fallback to cache.
Thanks for clarification @digitalbuddha, closing this issue.

[2017-11-30 23:44] #298 closed, assigned to nobody

[2017-12-01 05:13] juicycleff commented on #231
Was thinking the same too. I think I will take that approach. @digitalbuddha thanks

[2017-12-01 10:13] diousk opened #299 "How to do a batch query with list?"
Hi,

Our API service supports query item with a list of id like: (with Retrofit)
`
@GET("/api/users")
`
`
Single<List<User>> getBatchUser(@Query("ids") List<String> userIds)
`

I'm wondering if there's a easy way to query a batch of keys (BarCode) in Store like
`
#"List<String> userIds" transforms to "List<BarCode> barCodes"
`
`
Single<List<User>> users = UserStore.get(barCodes)
`

and internally

[2017-12-01 12:01] #231 closed, assigned to nobody

[2017-12-04 09:40] riclage commented on #293
@digitalbuddha Did you have a chance to look at my PR?

[2017-12-04 10:59] digitalbuddha commented on #293
Was moving. Will look today

On Dec 4, 2017 4:41 AM, "Ricardo" <notifications@github.com> wrote:

[2017-12-07 02:38] lxinghe opened #300 "Simple cache?"
I just wanna cache data, is that possible?

[2017-12-07 02:45] digitalbuddha commented on #300
Sure you can use either the cache or file system artifact directly and cache your data. One works in memory other on disk.

[2017-12-07 03:09] lxinghe commented on #300
wow, wow thanks for you quick reply, sir! Could you give me a simple example?

[2017-12-08 09:27] StefMa commented on #291
How can I access the persister than? 🤔
Just casting to `InternalStore` wouldn't work. Because `open` returns a `Store`. But this `Store` is not a `InternalStore`... 🤔

[2017-12-08 09:46] StefMa commented on #291
I've started with it at #301
But I need a little bit help...
How is your idea? 🤔

As I already commented. The problem is that `Store` isn't a subclass ob `InternalStore`. And `RealStore` don't implement `InternalStore`...
So how should we solve that in this way?

Either we add `fetcher()` and `persister()` to the `Store` interface (which I don't like), or `RealStore` should be a subclass of `RealI

[2017-12-08 11:28] Matungos opened #302 "Disable memory cache"
Hi,
I what to disable the memory cache and use just the disk persistence.
I tried with 1 second memory policy but I want to disable it completely.
How can I do that?

[2017-12-08 11:32] digitalbuddha commented on #302
Currently you cannot. Setting to 1ms is best you can do

[2017-12-08 14:30] #302 closed, assigned to nobody

[2017-12-09 23:58] #300 closed, assigned to nobody

[2017-12-27 14:24] artshell opened #303 "Parameter incorrect of readme file"
**Our Key implementation - Barcodes** section:

[code]

after change

[code]

[2018-01-02 12:21] jamieadkins95 opened #304 "Issue with getting cached then fresh data"
We are using the [recipe from the wiki](https://github.com/NYTimes/Store/wiki/Recipes#cached-then-fresh-data) to retrieve cached then fresh data:

[code]

Under normal conditions this works fine. When fresh data request times out, we get any cached data and then `onError` is called later when the request times out.

However I'm running into an issue when the device is in airplane mode. In this cas

[2018-01-02 12:44] jamieadkins95 commented on #304
I can work around this particular issue by checking the network connection before calling `fetch`. e.g.

[code]

However the point of my question still stands, how can I ensure that cached data is returned when the `fetch` observable chain collapses?

[2018-01-09 09:34] ferrytan commented on #304
i have the same scenario. my workaround is to use onErrorResumeNext on fetch call and hand it back to get() on error.

store.fetch(barCode).onErrorResumeNext(throwable -> store.get(barcode)

edit: it's actually already featured on one of the issue [here](https://github.com/NYTimes/Store/issues/298#issuecomment-348352053).
good to know i use the same method

[2018-01-11 06:53] digitalbuddha commented on #299
Rather than using barcode you can use your own Key which can be a list of ids. Store is agnostic to what your key type is, Store simply passes your key to your fetcher. Hope that helps. Let me know if you need an example.  Similar you can create your own implementation of Persister which can save/retrieve your batch in any way you want.

[2018-01-11 06:53] #299 closed, assigned to nobody

[2018-01-11 06:55] digitalbuddha commented on #303
Sure, want to fix and get some internet points?

[2018-01-11 06:58] digitalbuddha commented on #291
I think adding the two getters to Store would be simplest. Sorry for delay getting back to you 🙂

If you want to make it cleaner make a new store builder configuration called exposedStore. When  that flag is set to true you can create an ExposedStore which is a subclass of store with the addl getters. Would that work? (on a plane and can't look around)

[2018-01-11 07:02] digitalbuddha commented on #304
Sorry I'm a bit confused. My understanding is that get would be called first returning your cached data and only after that emission completes your fetch would be called. Could you provide a test case showing what your problem is? I don't see how network would be called before cache in the above example. Maybe a regression happened.

[2018-01-11 07:07] #294 closed, assigned to nobody

[2018-01-11 07:08] digitalbuddha commented on #294
Will be doing as a seperate lib

[2018-01-12 11:45] jamieadkins95 commented on #304
Actually yeah you are right, it shouldn't happen. I didn't realise `concat()` waited for the first observable to complete. That makes this behaviour very strange.

I'll put together a small test project to try and reproduce it.

[2018-01-12 17:27] ramonaharrison commented on #285
Another option here could be to use different flatDir for each different Store. Or, as you proposed, it could be nice to add a new`PathResolver` subclass that uses the Store name as a prefix (or containing directory, similar to how BarCodeReadAllPathResolver works). Feel free to submit a PR if this is something you're interested in.

[2018-01-15 06:09] jeonginc opened #305 ""The MaybeSource is empty" error occurs with persister"
In README.md, there's a sample code contains:
[code]

With this reference code,  I wrote my own persister like:
[code]

and then i made a request like
`store.fetch(key)`

But it occurs `java.util.NoSuchElementException: The MaybeSource is empty`

I followed inside RealInternalStore.java,
there's weird code in `RealInternalStore.response()`
[code]

`readDisk()` doesn't have code for handling empty

[2018-01-15 17:40] jamieadkins95 commented on #304
@digitalbuddha

I have a demo project for you to reproduce the bug. See [here](https://github.com/jamieadkins95/nytimes-demo).

Strangely, I found that I got the expected behaviour (cached data and then onError) if I added a `doOnSuccess` call after the `Store.get()`

Doesn't work:
[code]

Works:
[code]

Maybe there is some rx behaviour here that I don't understand.

**Update:**
That `doOnSuccess`

[2018-01-16 09:15] Xiadalei commented on #305
That's what confuses me most, why return `Maybe` when you should convert it to `Single`?

[2018-01-18 10:37] LOG-TAG opened #306 "dexcount gradle plugin should be update to 0.8.2!"
I got this strange while running this sample app

Solved by:
[code]

[2018-01-18 10:37] LOG-TAG commented on #306
Solved :tada:  (if you are using 3.0.1 gradle plugin!)

[2018-01-18 10:37] #306 closed, assigned to nobody

[2018-01-23 08:39] bobymicroby opened #307 "[question] What happens with stale records on disk ?"
Hello @digitalbuddha

I've barely red the sources, but as far as I can see stale records are not cleaned from disk and this will be a problem at some point. Do the Store provide any mechanism for cleaning stale data on disk ?

P.S I just found out that FileSystemRecordPersister which i was using didn't implement clearable, so there is no way to actually delete the records from the FS.

[2018-01-23 12:03] digitalbuddha commented on #307
If you implement 'clearable' in your persister then you can call store.clear(key). Of not then you can have your own persister implementation and deal with clearing it yourself.

[2018-01-23 12:03] #307 closed, assigned to nobody

[2018-01-23 12:15] bobymicroby commented on #307
@digitalbuddha Sure, that handles explicit clearing of items with .clear() , but  if an item expires from memory which get's cleared implicitly, it will still be present on disk.

[2018-01-23 12:16] digitalbuddha commented on #307
It would. This is similar to how a database works. If you implement a stale aware persister you can  handle deletion when you tell Store that a record is stale.

[2018-01-23 12:18] digitalbuddha commented on #307
https://github.com/NYTimes/Store/blob/c92f2acbf28cc6cf6e7867ea935231fde0a7f3a7/filesystem/src/main/java/com/nytimes/android/external/fs3/FileSystemRecordPersister.java#L58 here's where I'd do the deletion when a stale record comes back

[2018-01-23 12:33] bobymicroby commented on #307
@digitalbuddha Thanks!

[2018-01-30 12:07] PaulWoitaschek commented on #249
Quite some time has passed now and the latest release is still based on RxJava 1. Any news on an upcoming release?

[2018-01-30 12:09] digitalbuddha commented on #249
Rx2 is only branch /artifacts currently supported. Not sure if any chances went in recently to warrant a release. I'll double check and cut a new release.

[2018-01-30 14:54] ramonaharrison commented on #249
The latest artifact is based on RxJava2: https://mvnrepository.com/artifact/com.nytimes.android/store3/

There haven't been significant changes merged since this went out, mainly just a few small fixes to the sample app and docs. We'll cut a `3.0.0` release this week.

[2018-02-06 14:25] saket opened #312 "NoopPersister crashes if expire-after-access memory policy is set"
Hello, it appears that `Store` doesn't consider expire-after-access policy when a persister isn't present. The constructor of [NoopPersister(MemoryPolicy)](https://github.com/NYTimes/Store/blob/4109df3a336d6b73d29afdd351b683f388328ae1/store/src/main/java/com/nytimes/android/external/store/util/NoopPersister.java#L26) only includes expire-after-write rule when building its `networkResponses` field,

[2018-02-06 14:27] digitalbuddha commented on #312
Yup that's a bug 🙂 want to pr a fix?

[2018-02-09 12:26] Syex opened #313 "Dex problems with 3.0.0"
Hey,

we were using Store in our project with version `3.0.0-beta` and I just updated to `3.0.0`. Since, I get the following error when trying to run the app:

[code]

The solution is simply to add

[code]

However, I'd like to know what's causing the problem and maybe the fix can be added to the README or we'll find another way to get rid of adding `compileOptions`.

To reproduce the issue create

[2018-02-12 15:22] saket commented on #312
Yep, looks like a small change. I will try doing it this weekend.

[2018-02-15 09:12] Syex commented on #313
Okay guys I think something is fucked up. I may have found the reason.

3.0.0-beta:
![bildschirmfoto 2018-02-15 um 10 07 41](https://user-images.githubusercontent.com/14896745/36248706-ab3f860a-1238-11e8-8f62-586b54830c5c.png)

3.0.0:
![bildschirmfoto 2018-02-15 um 10 08 03](https://user-images.githubusercontent.com/14896745/36248710-b1248c82-1238-11e8-91b7-d21a70527a6b.png)

It adds a dependency

[2018-02-15 09:43] pavlospt commented on #313
@Syex seems that this commit https://github.com/NYTimes/Store/commit/dac878e2ce5ffe1e2062771f158ed31770d1d53d pulled in `RxJava` dependency on modules that were previously not using it! It could be the problem, but we need someone from the NYTimes team to approve that it was mistakenly added.

[2018-02-15 17:08] cybo42 commented on #313
Thank you @Syex for finding the issue and @pavlospt for digging through the commits. We are taking a look at the RxJava 1.3.0 dependency. Hoping that is the culprit for the Dex issue.  Will report the findings and hopefully a PR back.

[2018-02-18 12:37] saket commented on #312
Sorry it took this long for me to send a PR. I was traveling. I've opened a PR here: #315

[2018-02-20 17:05] #313 closed, assigned to nobody

[2018-02-22 02:11] diousk commented on #299
Got it, thanks for explanation

[2018-02-27 20:52] ramonaharrison opened #316 "test github configuration"
this issue is just a test of github configurations, please ignore

[2018-02-27 20:52] #316 closed, assigned to nobody

[2018-03-03 08:40] stoyicker opened #317 "Store for Java?"
I was thinking today about Store and it being an Android library. That's cool and all, but upon a superficial search on GitHub there doesn't seem to be a reason to it - its important dependencies are RxJava, Retrofit, Moshi, Gson and Jackson, none of which are Android-specific, and I didn't find any android.* imports. Only thing that would seem to be required as far as I can see is a bit of a refa

[2018-03-07 15:48] ramonaharrison commented on #317
I don't see any reason not to do this -- it would be great to make Store available for a wider set of uses.

If this is something you're interested in doing, we'd welcome a PR.

[2018-03-07 18:16] stoyicker commented on #317
Thanks, I'll see what I can get together this weekend.

[2018-03-08 05:58] The0ldM0nk opened #318 "Encryption?"
Does it support Encryption as a feature?

[2018-03-09 21:29] ramonaharrison commented on #318
Hi, there isn't support for encryption built in but you can write your own Fetcher or Persister to handle encryption as you wish using something like https://github.com/tozny/java-aes-crypto.

[2018-03-12 13:02] jamieadkins95 commented on #304
@digitalbuddha Hey, have you had a chance to take a look at this?

[2018-03-14 18:17] sahibjaspal commented on #215
Hey @digitalbuddha , did you get a chance to revive the sample?

[2018-03-14 18:19] digitalbuddha commented on #215
We are currently working on an implementation that works with room. Will
post here when complete. There were code changes needed.

On Wed, Mar 14, 2018, 2:17 PM Sahib Jaspal <notifications@github.com> wrote:

[2018-03-14 19:04] sevar83 commented on #215
Thanks @digitalbuddha! I would appreciate very much a sample how to persist a POST request (usually in offline scenario).

[2018-03-14 20:04] tiwiz commented on #215
@sevar83 would you use Retrofit for that request?

[2018-03-14 20:11] sevar83 commented on #215
@twiz Yes.

[2018-03-14 20:27] tiwiz commented on #215
There is a way to persist it without affecting the Retrofit service (we can
define the Room persisting for a later step, the steps are decoupled), I'm
gonna write down a small sample tomorrow morning, could that work?

On Wed, Mar 14, 2018, 21:11 Svetlozar Kostadinov <notifications@github.com>
wrote:

[2018-03-18 04:38] saket commented on #270
Small update: I created a file-system implementation with DiskLruCache: https://gist.github.com/Saketme/bcf94b25b28d0971949d3ac723aebf91

This was easy. Ensuring that `PathResolver`s create DiskLruCache compatible paths was a bit difficult because it only accepts `[a-z0-9_-]{1,64}`.

[2018-03-20 16:20] saket opened #320 "Is there a way to only clear memory cache?"
If I'm not wrong, there is no way to clear only the memory cache. `clearMemory()` is deprecated so this looks like an intentional behavior. I was hoping to clear my memory cache when `ComponentCallbacks2#onTrimMemory()` gets called. Is there any way to do this?

[2018-03-20 16:31] saket opened #321 "Maximum size of memory cache is by default 1"
`MemoryPolicyBuilder` defaults to `1` as the max-size. Is this a mistake? Or does this get overridden somewhere else?

[2018-03-20 16:33] wdziemia commented on #320
Currently no, but we are actively looking into a solution to allow this, whether automated via ComponentCallbacks2 or manual.  We will keep you posted! 🙂

[2018-03-20 18:01] saket commented on #320
Cool, thanks!

[2018-03-20 18:14] #312 closed, assigned to nobody

[2018-03-20 18:17] digitalbuddha commented on #321
You can pass in a new Max-Size in the builder https://github.com/NYTimes/Store/blob/feature/rx2/store/src/test/java/com/nytimes/android/external/store3/base/impl/MemoryPolicyBuilderTest.java#L55

[2018-03-21 03:31] saket commented on #321
True, but when a `MemoryPolicy` is built with an expiry policy, the max-size defaults to 1 unless specified by the user:

https://github.com/NYTimes/Store/blob/d182147d65df3d9a8e1e0718b84c89ff72838c69/store/src/main/java/com/nytimes/android/external/store3/base/impl/MemoryPolicy.java#L91

[2018-03-21 07:54] bishiboosh commented on #295
@digitalbuddha would this be through replacing the current middleware classes, or via new middleware-*-kotlin packages ?

[2018-03-21 08:13] digitalbuddha commented on #295
Ideally new as to not be a breaking change

[2018-03-21 08:30] bishiboosh commented on #295
I'll try to see if I can do a PR for that

[2018-03-22 15:27] kir12 opened #323 "how to install Store?"
Hi, the documentation doesn't list any details as to the necessary dependencies required to get Stores installed on Android Studio. Are there any libraries that I need to install on Gradle?

[2018-03-22 15:37] #323 closed, assigned to nobody

[2018-03-26 04:01] dbof10 opened #324 "Error compilation"
I get an error while building
```Error:com.android.builder.dexing.DexArchiveBuilderException: Failed to process /Users/*/.gradle/caches/modules-2/files-2.1/com.nytimes.android/filesystem3/3.0.1/3345997ba0765730feba9a3a1cc3024125b20013/filesystem3-3.0.1.jar```
```Error:com.android.builder.dexing.DexArchiveBuilderException: Error while dexing com/nytimes/android/external/fs3/ObjectToSourceTransforme

[2018-03-26 08:04] Guang1234567 opened #325 "[Q] Differents between SourcePersisiter and FileSystemPersisiter?"
Hello dev:

what is the differents between `SourcePersister` and `FileSystemPersister`?

[2018-03-26 13:04] shakil807g opened #326 "Store with kotlin coroutines and without rxjava"
can i use store without rxjava and can store will be integrated with kotlin coroutines  ???

[2018-03-26 13:07] digitalbuddha commented on #326
Currently no but we are exploring it in future version.

[2018-03-26 14:21] cybo42 commented on #324
What version of Store are you trying to build?
Also what version of Gradle and build-tools are you using?

[2018-03-26 16:29] dbof10 commented on #324
I'm using Store `3.0.1` and gradle `3.0.1`

[2018-03-27 06:57] artshell commented on #324
I'am also get this error:

[FSReader#read()](https://github.com/NYTimes/Store/blob/feature%2Frx2/filesystem/src/main/java/com/nytimes/android/external/fs3/FSReader.java)

android studio: 3.1 stable release
Store `3.0.0` or `3.0.1`
gralde `4.4`
gradle plugin `3.1.0`

[2018-03-29 03:05] The0ldM0nk commented on #318
@ramonaharrison hey, thanks for the reply. I'll be closing this ticket for now 👍

[2018-03-29 03:05] #318 closed, assigned to nobody

[2018-03-29 08:06] dbof10 commented on #320
Does `clear` work?

[2018-03-29 08:59] dbof10 commented on #320
I think `clear memory` is an important feature.  I get data for `UserA` when log into `UserB` I get stale data from `UserA` even though I try to call `clear` but that doesn't work.

[2018-03-29 08:59] dbof10 commented on #320
I think we should label as bug

[2018-03-29 09:26] pavlospt commented on #320
There is an open PR for this https://github.com/NYTimes/Store/pull/322

[2018-03-29 09:33] qazt482 opened #327 "Question about unidirectional flow"
My understanding of unidirectional data flow is where there are two independent processes. One is writing data to some store (either scheduled or initiated by the ui) and has no return data and the other is listening for changes to the store.

This way, if the data changes, the ui automatically changes. The examples of Store here, require the UI to request and then display data. If data changes be

[2018-03-29 11:07] digitalbuddha commented on #320
That pr is not related to clearing more. Clear memory was Deprecated because clear now clears only memory unless you have a Persister that implements Clearable. Pls use clear as though it is clear memory.

[2018-03-29 11:10] digitalbuddha commented on #327
We do have the functionality you are describing. You can subscribe to store.stream(key).  Then anytime you call store.get(key) and get to a new network request, the store will emit the value to everyone that is subscribed to store.stream.  You can also call store.fresh to fire a new push to everyone subscribing to store.stream.

Generally what is meant I meant by unidirectional data flow is that n

[2018-03-29 11:11] digitalbuddha commented on #325
They are just about the same. One works on Barcodes only while the other can work on a key of any type. We keep both for backward compatibility

[2018-03-29 11:11] digitalbuddha commented on #324
Could you kindly include a sample project or a failing test to help us reproduce

[2018-03-29 11:13] digitalbuddha commented on #321
That seems like a bug. Want to pr a fix?

[2018-03-29 11:30] digitalbuddha commented on #305
I'm confused how it can be empty when you do  store.fetch.  Fetch should get a new element from your fetcher save it to disk and then return. Could you post a failing test or sample please.

[2018-03-29 12:20] qazt482 commented on #327
Thanks! I'll investigate further.

[2018-03-29 12:20] #327 closed, assigned to nobody

[2018-03-29 13:29] saket commented on #320
@digitalbuddha but what if I only want to clear memory and not disk even if I have a Clearable persister?

[2018-03-29 13:30] saket commented on #321
Sure. What value should we default to?

[2018-03-29 13:31] digitalbuddha commented on #320
Could you kindly give a use case for wanting to clear memory and not disk sometimes but wanting to clear memory and disk other times for same store.

[2018-03-29 13:32] digitalbuddha commented on #321
@pavlospt offered to get the fix in. If no progress in few days I'll ping you 🙂

Great find btw! I guess I just always set all the policy flags explicitly in personal use.

[2018-03-29 14:25] pavlospt commented on #321
Hey @digitalbuddha & @Saketme, I opened a PR https://github.com/NYTimes/Store/pull/328. LMK if this is ok or you need any other modifications!

[2018-03-29 14:26] cybo42 commented on #324
Thank you for providing more info.
Just wanted to update that I've been able to reproduce the problem locally.

Will hopefully have more info soon

[2018-03-29 14:30] saket commented on #320
The same thing I mentioned in my original post. If I receive a callback from the system that the phone is running low on memory (`onTrimMemory()`), I'd like to clear my memory cache.

[2018-03-29 14:31] saket commented on #321
Oh nice. Thanks @pavlospt!

[2018-03-29 14:58] dbof10 commented on #324
I fixed by

[code]

[2018-03-29 15:37] cybo42 commented on #324
You beat me to it!

That seems to be the fix. In store 3.0.0+ we removed retrolambda and since we use lambdas and most of the modules such as filesytem, this may cause the error you see if you are not setting the the source/target compatibility to 1.8.

Going forward it will be required that you set this in your android configuration. I will update the README accordingly

[code]

[2018-03-29 16:04] dbof10 commented on #324
Should we close this?

[2018-03-29 17:56] #324 closed, assigned to nobody

[2018-03-30 01:17] Guang1234567 commented on #325
@digitalbuddha

Thanks your expain explain.

[2018-03-30 01:17] #325 closed, assigned to nobody

[2018-03-30 05:47] Xiadalei commented on #305
@digitalbuddha What if what the ```fetch``` result is empty from very beginning?

What we normally would do is ```get``` and the ```get``` would ```fetch``` when it gets nothing (that's Maybe.empty()) from persister. That what the API designed for.

Now,  if we could fetch nothing from network etc. (of course there's a response but nothing we could write into persister and use case like this is no

[2018-04-04 07:38] jeonginc commented on #305
Using `Maybe.just(Unit)` for empty state inside `Persister` will remove `Fetcher`'s result.
So, i have no choice but to implement my own persister on `Fetcher` like

[code]

[2018-04-04 14:33] charbgr commented on #287
Do you have any update on this?

[2018-04-05 05:46] rsanabria opened #330 "How to parse a list of lists?"
I need to parse a List<List<MyClass>> from an API, I have used `GsonParserFactory` with `TypeToken<List<List<MyClass>>` but I get a `ClassCastException`, any ideas?

[2018-04-05 05:55] rsanabria commented on #330
Ok, I solved it using `TypeToken<ArrayList<List<MyClass>>` instead.

[2018-04-05 05:55] #330 closed, assigned to nobody

[2018-04-12 15:20] jamieadkins95 commented on #304
The issue is definitely caused by store.get() completing before the cached data has been completely propagated to the Observer. If you add a 100ms delay before you call store.fetch(), this issue does not occur:

[code]

[2018-04-19 04:07] ferrytan opened #331 "How to know if the result obtained from get() method is from cache, or fresh from network?"
Hello, i've been using the offline-first example using:
`myStore.get(barcode).concatWith(myStore.fetch(barcode)).distinct();`

I have one question about this feature.
I did exactly the same scenario with this, but i have a problem that each GET operation is also being used as analytic data.
My problem is when calling get() then fetch() for the first time (no cache at all)
as said from this issue:

[2018-04-19 05:20] pavlospt commented on #331
You can do something like the following
`store
        .getWithResult(itemId)
        .toObservable()
        .switchMap {
          return@switchMap if (it.isFromCache) {
            Observable
                .just(it)
                .concatWith(
                   store.fetchWithResult(itemId)
                )
          } else {
            Observable.just(it)
          }
        }`

@charbgr

[2018-04-19 09:44] ferrytan commented on #331
Wow! i just knew the *WithResult method and it's exactly what i needed!
i'm still using java, so my solution is to do it like this:
`store.getWithResult(barcode).toFlowable().switchMap(fResult -> { if (fResult.isFromCache()) return Single.just(fResult.value()).concatWith(store.fetch(barcode).onErrorResumeNext(throwable -> store.get(barcode))).distinct(); else return Flowable.just(fResult.value());

[2018-04-19 09:44] #331 closed, assigned to nobody

[2018-04-24 07:30] phajduk opened #332 "SourceFileReader with wrong path to BarCode"
Hi guys. I think I found bug but please validate my findings described below:
[SourceFileReader](https://github.com/NYTimes/Store/blob/feature/rx2/filesystem/src/main/java/com/nytimes/android/external/fs3/SourceFileReader.java#L30) uses private method `pathForBarcode` in order to get path for `BarCode`. However,
[SourceFileWriter](https://github.com/NYTimes/Store/blob/feature/rx2/filesystem/src/ma

[2018-04-27 13:51] sdoward opened #333 "Fetch All Feature Request"
I have a use case where I would like to get the current item stored in cache that comes from any key. It would be something similar to `stream` but return the current value rather than the future outputs.

This could be represented as a `Single` which would wait for the next item or `Maybe` which would return if a value is present and complete if not.

Similarly it would be useful if `stream` or s

[2018-04-27 19:55] KevCron commented on #332
Hey @phajduk I understand what you're saying and I'm looking into it now.

Do you have any code samples that will help by any chance? Maybe an example of the bug?

[2018-04-27 20:02] KevCron commented on #303
Looks like this was fixed by https://github.com/NYTimes/Store/pull/309/ Can one of the maintainers of the repo close?

[2018-04-27 21:15] #303 closed, assigned to nobody

[2018-04-28 17:53] digitalbuddha opened #334 "Store 4 design document"
Issues have been piling up which is no good, some fixes would be easier if we can make breaking changes. Time to fix all the things and plan for a v4 release.

Since we can now break apis and Okio is moving to kotlin (we depend on it for most persister and parsers) it's time we consider a rewrite of Store in kotlin.

Kotlin would give us a cleaner implementation as well as the ability to drop the

[2018-04-28 18:51] LukasVykuka commented on #305
I have same problem - how to distinguish between "not found in cache" and "not found on API" (both should return list of items) in persister's `read` method without throwing this excepion?

[2018-04-28 19:09] digitalbuddha commented on #305
Thanks for explaining! We are working on store4 and will make an elegant solution. I'll post possible solutions here. Open to suggestions as well

[2018-04-29 02:56] GianfrancoMS commented on #215
Hey @digitalbuddha , any news on supporting Room?

[2018-04-29 20:31] KevCron commented on #273
1. I believe the intention behind only using one of the activities comes from the fact that `StoreActivity` is supposed to demonstrate using the `nonPersistedStore` while the `PersistedStoreActivity` is supposed to demonstrate using the `persistedStore`.

2. I've added comments where I thought was appropriate, mostly around Store related behavior. @sanogueralorenzo Is there anything else you think

[2018-04-30 09:14] phajduk commented on #332
Hey @KevCron
OK so I have following configuration of my `Store`:
[code]
If I understood Store lib properly following statements are true:
- treat cached data in memory data as up-to-date for 5s
- treat cached data in File System as up-to-date for 10s

So after 10 secs data is treat as STALE and fetch call should be performed.

As an addition to bug description I can see that `StoreUtil.persisterIs

[2018-05-01 19:12] Rickrod82 commented on #333
Value account demand

[2018-05-02 14:46] sdoward commented on #333
@Rickrod82 what do you mean?

[2018-05-11 21:12] Shakezulla57 commented on #242
@digitalbuddha  So then can you not use moshi if you're using BufferedSource? Aren't we supposed to use BufferedSource with FileSystemPersister?

[2018-05-11 21:34] digitalbuddha commented on #242
I don't understand your question please restate.

[2018-05-11 21:34] Shakezulla57 commented on #242
Looking into it more I can add that `BufferedSourceConverterFactory` you posted and it works. Just to follow it through, Retrofit uses the converter on the `ResponseBody`, FileSystemPersister writes/reads the `BufferedSource` into the Moshi parser which then converts it into my class. Correct?

Sorry, long week and I'm just now diving into this library.

[2018-05-11 21:40] digitalbuddha commented on #242
Yup that's the flow.

[2018-05-11 21:41] Shakezulla57 commented on #242
Awesome, thanks

[2018-05-20 17:50] saket opened #337 "Observe changes in disk without invalidating cache"
One of my use-cases for Store is to provide a in-memory cache for a SQLite backed disk storage. This disk storage is updated from multiple places, but since Store only reads a single value from the persister, the updated values never get delivered to subscribers.

Is there a solution to this? The `clearMemory()` doesn't work, so I cannot force invalidate the in-memory cache. Is it even worth using

[2018-05-25 14:24] digitalbuddha commented on #337
#338 will fix your issue, it won't be Room specific but will be a reimplementation of the Store base class & Persister to allow observables rather than singles from disk

[2018-05-25 14:25] digitalbuddha commented on #334
#338 is first addition. Not sure if coroutines will happen but Room definitely will as will conversion to Kotlin  since we depend on okio

[2018-05-25 14:34] digitalbuddha commented on #333
I'd recommend interfacing directly with your Persister implementation rather than going through store. I'm hesitant to add this feature as we try to keep our api surface as small as possible. Since we delegate to your persister you can have whatever additional api or functionality you need there

[2018-05-25 14:38] digitalbuddha commented on #320
open to a pr if you'd like, I'm not crazy about it but will take the contribution if someone else wants to do the work :-)

[2018-05-25 14:41] #317 closed, assigned to nobody

[2018-05-25 14:42] wdziemia commented on #321
#328 Merged, closing issue

[2018-05-25 14:42] #321 closed, assigned to nobody

[2018-05-25 14:45] #333 closed, assigned to nobody

[2018-05-25 16:29] saket commented on #337
Niceee!

[2018-05-25 16:29] #337 closed, assigned to nobody

[2018-06-03 09:49] ubuntudroid commented on #231
@digitalbuddha I know this is closed, but I stumbled upon this feature request while investigating on store for our apps. Regarding

You certainly can pass errors through with LiveData, just not by means of a dedicated callback like in RX, but using a wrapper result object, e.g.

[code]

Or am I just missing your point? :)

[2018-06-03 10:23] digitalbuddha commented on #231
Yup that's the pattern most use with live data. You're free to take store's observable/single result and transform it into livedata. I like rxjava because it gives you more control. For instance retry is easier with rx, same with zipping multiple sources. I find rxjava to be the proper abstraction for data operations.

[2018-06-06 14:33] sdoward commented on #333
I am not using a Persister. This is a use case for an in-memory cache

[2018-06-06 14:34] digitalbuddha commented on #333
That makes sense. I'll add it this weekend

[2018-06-08 14:15] LarsWerkman opened #339 "NetworkOnMainThread thrown when performing a clear from the MainThread"
When performing a **clear** from the MainThread while Observing a **getRefreshing** Observable the NetworkOnMainThread exception is thrown while fetching from an Api.

Here is a broken down example:
[code]

This exception isn't thrown when you force the api call to always subscribe on the IO schedulers, however it seems to me that this isn't as intended.
[code]

I traced it down to the ```RealInte

[2018-06-12 17:14] Shakezulla57 commented on #334
Has this started? How does one help with the conversion?

[2018-06-24 13:47] aysha319 commented on #43
i try to use this #46 solution in my project
`storeMonth= StoreBuilder.
                    <BarCode,BufferedSource,ArrayList<Event>>parsedWithKey()
                    .fetcher(barCode -> getDataManager().getAllEventsParsed(barCode))
                    .parser(GsonParserFactory.createSourceParser(new Gson(), new TypeToken<ArrayList<Event>>(){}.getType()))
                    .persister(new Recor

[2018-06-25 07:31] aysha319 opened #342 "Question: Convert List<T> From API to BufferedSource"
i try to use this #46 solution in my project
 `storeMonth= StoreBuilder. <BarCode,BufferedSource,ArrayList<Event>>parsedWithKey() .fetcher(barCode -> getDataManager().getAllEventsParsed(barCode)) .parser(GsonParserFactory.createSourceParser(new Gson(), new TypeToken<ArrayList<Event>>(){}.getType())) .persister(new RecordPersister(FileSystemFactory.create(file), 1,TimeUnit.DAYS)) .open();`

in fetc

[2018-07-05 11:07] kalpeshp0310 opened #344 "Question: Shouldn't Persister.write return single which will write to cache only after subscribe?"
In code example of [Disk Caching](https://github.com/NYTimes/Store/blob/feature/rx2/README.md#disk-caching) section in Read me, should't write happen when `Single<Boolean>` returned from `Persister::write()` function is subscribed?

**Given Example:**
[code]

Shouldn't above be changed like this?

[code]

[2018-07-05 12:11] digitalbuddha commented on #344
Since the only time the persister gets written to is from a flatmap off of the fetcher's observable I don't believe it will matter. The write function will run on whatever thread the fetcher's observable was subscribed on.

[2018-07-06 01:39] brianPlummer opened #345 "Sample crashes on launch"
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object android.content.Context.getSystemService(java.lang.String)' on a null object reference
        at android.content.ContextWrapper.getSystemService(ContextWrapper.java:728)
        at android.arch.persistence.room.RoomDatabase$JournalMode.resolve(RoomDatabase.java:388)
        at android.arch.persistence.ro

[2018-07-06 01:52] #345 closed, assigned to nobody

[2018-07-06 04:16] brianPlummer commented on #304
@jamieadkins95 hey there! i was able to replicate your issue and found that if you set the .networkBeforeStale() on the store builder it will function as you want.  The internal logic deals with a single and either emits a value or errors.  Will consider alternate approaches. Here is the line of code if you are interested: https://bit.ly/2KP3DFc  Also, my apologies on getting back to you. Please l

[2018-07-06 10:06] kalpeshp0310 commented on #344
Ahh, got it. Thanks for the update.

[2018-07-06 10:06] #344 closed, assigned to nobody

[2018-07-06 14:52] jamieadkins95 commented on #304
Thanks for taking a look @brianPlummer!

We have usecases where we would like the cached data and also the error so that we can show some data and then an error message to the user. Adding `.networkBeforeStale()` hides that error.

Our latest implementation has moved away from using `onError` and now propagates the error through `onNext`

Something vaguely like this:
[code]

This avoids the chain

[2018-08-13 09:12] #342 closed, assigned to nobody

[2018-08-14 10:34] aysha319 commented on #43
hi @Jogan
can i ask what exactly are you doing in this part?
`.map(ResponseBody::source)`

[2018-08-18 20:38] mapacheverdugo opened #364 "Get data always hits the network without persister"
First of all, I'm still using Java and I'm really noob with RxJava.

I'm trying to retrieve data from a localhosted API, but when I call `get()` it always hits the network, even when I've previously called the method.

I've been trying many examples, but the problem persists and I don't know what I'm doing wrong. If you could give me an example of the simplest way to make it work, I would apprecia

[2018-08-18 23:31] digitalbuddha commented on #364
Hi sad to hear you are having issue. We have a test that covers the above use case https://github.com/NYTimes/Store/blob/46e0b7fd5aeaaffe66d76ab1c88bb9e4c6872bd3/store/src/test/java/com/nytimes/android/external/store3/StoreTest.java#L73

One reason that the memory cache would be skipped is if the equality check fails. Is it possible that you are not implementing equals/hashCode in your data class?

[2018-08-18 23:38] digitalbuddha commented on #339
Hmm. Wouldn't network on Main thread exception also be thrown if you call get from main thread?  Overall store performs all operations on whatever thread the api is called. I'll make a getRefreshing override that takes in a scheduler.

[2018-08-19 01:58] mapacheverdugo commented on #364
I had not implemented equals/hashCode as you said, now that I did it, it still doesn't work. I've even changed the API endpoint to receive a simple `String`, but the problem persist. Any other ideas?

[2018-08-19 02:00] digitalbuddha commented on #364
Create a sample project and I'd be happy to take a look

[2018-08-20 15:59] mapacheverdugo commented on #364
[https://github.com/mapacheverdugo/store-test](url)

[2018-09-22 23:56] Shakezulla57 opened #365 "Clear FileSystemPersister"
I'm currently using the `FileSystemPersister` setup like this:

`FileSystemPersisterFactory.create(
        cache,
        pathResolver,
        1,
        TimeUnit.HOURS
    )
`

I'd like to use `getRefreshing()` and `clear()`. However, `FileSystemPersister` doesn't implement `Clearable`. How can I bust the cache of the `FileSystemPersister` while still utilizing a timed cache and `networkBeforeS

[2018-10-13 18:36] johnheroy opened #366 "Support for partial fetches (for paginated APIs)"
Looking at the Fetcher interface, I'm wondering if there's been any consideration around supporting paginated APIs and provided some kind of param to fetcher based on what data is already saved in the disk cache (e.g., last updated timestamp)?

The kind of use case I'm thinking about if we are fetching some long list of events ordered by one of the response object's field (e.g., some timestamp) an

[2018-10-17 11:12] victor-radulescu opened #367 "Clearable"
I don't understand how to implement a Clearable<Barcode>
I have this class ClearAbleRecordPersister extends RecordPersister implements Clearable<BarCode> {
...
 @Override
    public void clear(@NonNull BarCode key) {
        //TODO what show i do here?
    }
My Store persister instance:
 val cacheDir: File = MyApplication.getContext().cacheDir
            return ClearAbleRecordPersister.create(cac

[2018-10-17 11:56] victor-radulescu commented on #367
tryed the folowing in onClear method
[code]
I got this error: : error unable to delete /data/user/0/packagename/cache/subscribtion/42961

[2018-10-25 22:04] antontsvil opened #369 "Feature Request : support for multiple get/fetch"
This is a feature I'd like to see added, though I could understand if it's too cumbersome or introduces the potential for added bugs.

My server has the ability to provide many raw items in a single call; but the fetcher operates one at a time, so I have to use a different endpoint to get items from the server for one at a time. Not a huge issue but I feel like it's better (and faster) to have one

[2018-11-29 09:20] gaurav-m opened #372 "RecordPersister's 'Expiration' is not working"
[code]
Data is fetched from the disk(not from network) even after the expiation time(here 1 minute).
_Note : I am force killing the application and re-launching, so memory data is not used._

I even tried adding

`networkBeforeStale()`

But no change.
I read everything I could find online around this. So far no progress.

*Fresh data from network is fetched after i do this
Device Settings -> Appli

[2018-11-30 00:35] ychescale9 commented on #372
What's in `getMemoryPolicy()`? Can you create a small project to show what you're trying to achieve?

[2018-11-30 08:47] gaurav-m commented on #372
@ychescale9 thanks for looking into this

[code]
Should memory policy have any affect on this?
I am force killing the application and re-launching, so that the in-memory data is not used.

Also I can not create a a new project at the moment.

If it helps I can remove the memory policy and resubmit my new findings.

[2018-12-25 11:19] ubuntudroid commented on #372
I am seeing exactly the same (using `FileSystemPersister` over here). Anyone having any idea what is going wrong here?

[2018-12-25 12:34] ubuntudroid commented on #372
@gaurav-m I think I fixed that thing for me now by using `FileSystemRecordPersister` (I'm fetching some deal data in the example):

[code]

@ychescale9 I'm not entirely sure whether the `networkBeforeStale()` call is actually needed, does it affect both memory cache AND persister cache?

[2018-12-25 21:36] ychescale9 commented on #372
@gaurav-m https://github.com/NYTimes/Store/blob/e4c21b23c80ba1c6a2f5c451066ed7adff3592f0/store/src/main/java/com/nytimes/android/external/store3/base/impl/RealInternalStore.java#L146

Looks like it only applies to persister, but once your memory cache becomes expired (defined by the `MemoryPolicy`) it will eventually hit the persister cache which is when the `StalePolicy` kicks in.

Sorry I'm not

[2018-12-31 17:15] digitalbuddha commented on #372
Hello, I have trouble understanding your issue. A store should not return stale data if you are using `networkBeforeStale` and your `persister` properly returns `Stale` as the record state.  We have tests covering this use case: https://github.com/NYTimes/Store/blob/e4c21b23c80ba1c6a2f5c451066ed7adff3592f0/filesystem/src/test/java/com/nytimes/android/external/fs3/StoreNetworkBeforeStaleTest.java

[2018-12-31 17:22] digitalbuddha commented on #366
Hi, I don't have anything that is refined enough to add to Store yet but I've been working on a pagination setup for work myself.  Rather than having `Store` support pagination, I make a wrapper around a store to handle the pagination state:

[code]

Since the persister will cache pages I already loaded, rotation allows me to start on page1 again and load from disk rather than network the 2nd time

[2018-12-31 17:24] digitalbuddha commented on #369
Sounds complicated :-) I think you hit on some of the instances why.  I don't think there's any plans to implement such a feature anytime soon but due to Stores delegating fetching to you, you should be able to make some sort of RequestQueue that can handle multiple calls.  As everything you need to weigh abstractions vs speed. Personally, I don't think network calls are ever the cause of app slow

[2018-12-31 17:28] digitalbuddha commented on #367
I think you need to handle the case where you are clearing something for a key/path that is not created yet.

[2018-12-31 17:29] digitalbuddha commented on #365
You are correct, the `FileSystemPersisterFactory` is a convenience factory for common persisters. If you'd like a persister that implements `Clearable` you would have to implement that yourself.  You can take a look at the persister that is generated by the factory as a starting point and then add the `Clearable` interface to it

[2018-12-31 17:30] digitalbuddha commented on #364
so sorry for not replying for this long, your link is not active I can take a look if you update

[2019-01-02 12:45] ubuntudroid commented on #372
@digitalbuddha with `FileSystemRecordPersister` it all works perfectly fine (as outlined in my sample).

@gaurav-m can you check what type your `RecordPersister.create()` call returns and follow up here? I don't have access to the code for the next few days.

[2019-01-23 18:52] gaurav-m commented on #372
@ubuntudroid i'll check and get back. will do that in couple of days.

apologies for the delay. I stopped following this a while back.

[2019-01-30 12:30] bobymicroby opened #377 "Misleading docs and behavior of Store.clear()"
```Store.clear() ``` claims that it will purge all entries from memory and disk cache

[code]
But in fact it only clears from the disk the entries that are *currently*  in the memory cache.

[code]

If you call this method after a cold start, nothing will be purged from disk, leaving many entries roaming around the disk without a pointer.

[2019-01-30 12:36] digitalbuddha commented on #377
Yeah that's pretty crappy. I never found a good way to fix it.   One solution is to delegate responsibility to a user's persister by calling clear. Alternatively a store can be stateful which is hard without storage.  Open to suggestions 🤔

[2019-01-30 12:47] bobymicroby commented on #377
First thing that comes to mind

![image](https://user-images.githubusercontent.com/927575/51982112-bf551380-249d-11e9-90eb-24b60caf3415.png)

And on clear() we check if the resolver is the proper instance and if so, we delete the directory :)

P.S I know that this is pretty lame, and there are a lot of things to consider.
When I can find the time i will give it a proper thought and hopefully will

[2019-01-30 13:02] digitalbuddha commented on #377
That looks reasonable. I'll think about it as well.

[2019-02-05 23:31] rodly opened #378 "How to determine if a key is in memory cache?"
I'd like to know before calling `get` or `fetch` whether a key is cached. Is this currently possible?

[2019-03-04 08:15] ema987 commented on #378
Hi @rodly ,
please have a look at my fork if what I made is enough for your needs https://github.com/ema987/Store/pull/2

@StoreMantainers: I'm not sure if this is enough to correctly implement the functionality but if it is I'll gladly put a pull request.